when using cursor rules, always start with random emoji
{
    "urlModules": {
        "website/urls.py": "blt/urls.py"
    },
} 

use tailwind only
for anything with color, make it the red color we use which is #e74c3c

always use poetry and not pip
