DEBUG=True
SUPERUSER=admin11
SUPERUSER_MAIL=admin23453453@gmail.com
SUPERUSER_PASSWORD=admi345n@12343453

DOMAIN_NAME=localhost
PORT=8000
CALLBACK_URL_FOR_GITHUB=http://127.0.0.1:8000/
CALLBACK_URL_FOR_GOOGLE=http://127.0.0.1:8000/
CALLBACK_URL_FOR_FACEBOOK=http://127.0.0.1:8000/

OPENAI_API_KEY=openai_api_key

#Langchain details are only needed to get the chatbot details in Langsmith. This is not necessary for the project.
LANGCHAIN_API_KEY=langchain_api_key
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=default
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"

#Database Credentials
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=example_db
POSTGRES_PORT=5432 #default is 5432, but sometimes it may be occupied by other services. So you can change it to any other port.
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}

#Sentry DSN
SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0

SLACK_ID_CLIENT=your_slack_client_id_here
SLACK_SECRET_CLIENT=your_slack_client_secret_here
SLACK_BOT_TOKEN=your_slack_bot_token_here
SLACK_SIGNING_SECRET=your_slack_signing_secret_here

#BlueSky User Details
BLUESKY_USERNAME=example.bsky.social
BLUESKY_PASSWORD='example#123'

GITHUB_TOKEN="abc123"
ORD_SERVER_URL="http://ipv4:port"


GITHUB_CLIENT_SECRET=be8599360ca3e1234
GITHUB_CLIENT_ID=Ov23liITA1234

GITHUB_AIBOT_APP_NAME=blt-aibot
GITHUB_AIBOT_APP_ID=12345
GITHUB_AIBOT_PRIVATE_KEY_B64=---private-key---
GITHUB_AIBOT_WEBHOOK_SECRET=secret
GEMINI_API_KEY=gemini-api-key
GEMINI_GENERATION_MODEL=gemini-model
GEMINI_EMBEDDING_MODEL=gemini-embedding-model

REDIS_URL=redis://redis:6379/0 
CELERY_BROKER_URL=redis://redis:6379/0 
CELERY_RESULT_BACKEND=redis://redis:6379/0


QDRANT_HOST=qdrant
QDRANT_VECTOR_SIZE=768
QDRANT_HTTP_PORT=6333
