venv
*.pyc
staticfiles
.env
/env
/pvenv
db.sqlite3
.idea
/media
.vagrant
*.env
.vscode
geckodriver.exe
geckodriver.log
geckodriver
chromedriver
requirements.txt
*.code-workspace
*.log
*.exe
.vs
.qodo
ssl

# React app
react-app/node_modules
react-app/dist
react-app/.env
react-app/.env.local

