venv
*.pyc
staticfiles
.env.*
/env
/pvenv
db.sqlite3
.idea
/media
.vagrant
*.env
.vscode
geckodriver.exe
geckodriver.log
geckodriver
chromedriver
requirements.txt
*.code-workspace
*.log
*.exe
.vs
.qodo
ssl
google-credentials.json
ansible/inventory.yml
