version: "3"

services:
  app:
    command: "poetry run python manage.py runserver 0.0.0.0:8000"
    build: .
    volumes:
      - .:/blt
    ports:
      - "8000:8000"
  cache:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    volumes: 
      - cache:/data

volumes:
  cache:
    driver: local