django-environ
dj_database_url
django
django-allauth
django-gravatar
django-email-obfuscator
django-gravatar2
django-import-export
django-annoying
djangorestframework
django-filter
django-mdeditor
django-tz-detect
django-star-ratings
drf-yasg
captcha
dj-rest-auth
tweepy
colorthief
Unidecode
django-simple-captcha
stripe
humanize
bs4
user-agents
django-debug-toolbar
whitenoise