[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django_cron = "*"
django = "*"
dj-database-url = "*"
django-allauth = "*"
"beautifulsoup4" = "*"
colorthief = "*"
django-email-obfuscator = "*"
"django-gravatar2" = "*"
django-import-export = "*"
django-annoying = "*"
django-rest-auth = "*"
dj-rest-auth = "*"
tweepy = "*"
unidecode = "*"
user-agents = "*"
whitenoise = "==6.2.0"
django-debug-toolbar = "*"
selenium = "*"
pylibmc = {version = "*",sys_platform = "!= 'win32'"}
"psycopg2-binary" = "*"
boto = "*"
django-cors-headers = "*"
protobuf = {version = "*",sys_platform = "!= 'win32'"}
django-storages = {extras = ["google"], version = "*"}
django-timedeltafield = "*"
easyprocess = "*"
"giturlparse.py" = "*"
gunicorn = "*"
oauthlib = "*"
parse = "*"
pillow = "*"
python-openid = "*"
pytesseract = "*"
pytz = "*"
pyvirtualdisplay = "*"
requests = {extras = ["security"]}
requests-oauthlib = "*"
rollbar = "*"
six = "*"
tablib = "*"
ua-parser = "*"
djangorestframework = "*"
django_filter = "*"
cffi = "*"
django-mdeditor = "*"
django-tz-detect = "*"
django-tellme = "*"
django-bootstrap-datepicker-plus = "*"
django-star-ratings = "*"
stripe = "*"
django-environ = "*"
django-humanize = "*"
drf-yasg = "*"
django-simple-captcha = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
