[tool.poetry]
name = "blt"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]
license = "AGPLv3"

[tool.poetry.dependencies]
python = "3.11.2"
toml = "^0.10.2"
Django = "^4.2.6"
dj-database-url = "^1.0.0"
django-allauth = "^0.57.0"
beautifulsoup4 = "^4.10.0"
colorthief = "^0.2.1"
django-email-obfuscator = "^0.1.5"
django-gravatar2 = "^1.4.4"
django-import-export = "^2.7.1"
django-annoying = "^0.10.6"
django-rest-auth = "^0.9.5"
dj-rest-auth = "^2.2.4"
tweepy = "^4.8.0"
Unidecode = "^1.3.7"
user-agents = "^2.2.0"
whitenoise = "^6.6.0"
django-debug-toolbar = "^3.7.0"
selenium = "^4.14.0"
pylibmc = "^1.6.1"
psycopg2-binary = "^2.9.9"
boto = "^2.49.0"
django-cors-headers = "^4.3.0"
protobuf = "^4.24.4"
django-storages = {extras = ["google"], version = "^1.14.2"}
django-timedeltafield = "^0.7.10"
EasyProcess = "^1.1"
"giturlparse.py" = "^0.0.5"
gunicorn = "^20.1.0"
oauthlib = "^3.2.0"
parse = "^1.19.0"
python-openid = "^2.2.5"
pytesseract = "^0.3.9"
pytz = "^2021.3"
PyVirtualDisplay = "^3.0"
requests = "^2.27.1"
requests-oauthlib = "^1.3.1"
six = "^1.16.0"
tablib = "^3.2.0"
ua-parser = "^0.18.0"
djangorestframework = "^3.13.1"
cffi = "^1.16.0"
django-mdeditor = "^0.1.20"
django-tz-detect = "^0.4.0"
django-tellme = "^0.7.3"
django-bootstrap-datepicker-plus = "^5.0.4"
django-star-ratings = "^0.9.2"
stripe = "^7.0.0"
django-environ = "^0.11.2"
django-humanize = "^0.1.2"
drf-yasg = "^1.20.0"
django-simple-captcha = "^0.5.20"
django-filter = "^22.1"
webdriver-manager = "^4.0.1"
pillow = "^10.1.0"
chromedriver-autoinstaller = "^0.6.2"
sentry-sdk = "^1.32.0"

[tool.poetry.dev-dependencies]
black = "^22.3.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
