[tool.poetry]
name = "blt"
version = "0.1.0"
description = ""
authors = ["OWASP BLT <you@example.com>"]
license = "AGPLv3"

[tool.poetry.dependencies]

python = "3.11.2"
python-dotenv = "^1.0.1"
toml = "^0.10.2"
Django = "^5.1.5"
dj-database-url = "^2.3.0"
django-allauth = "^0.61.1"
beautifulsoup4 = "^4.12.3"
colorthief = "^0.2.1"
django-email-obfuscator = "^0.1.5"
django-gravatar2 = "^1.4.5"
django-import-export = "^4.3.4"
django-annoying = "^0.10.7"
dj-rest-auth = "^5.0.2"
tweepy = "^4.15.0"
Unidecode = "^1.3.8"
user-agents = "^2.2.0"
whitenoise = "^6.8.2"
django-debug-toolbar = "^4.4.6"
selenium = "^4.28.0"
pylibmc = "^1.6.1"
psycopg2-binary = "^2.9.10"
boto = "^2.49.0"
django-cors-headers = "^4.6.0"
protobuf = "^4.25.3"
django-storages = { extras = ["google"], version = "^1.14.3" }
django-timedeltafield = "^0.7.10"
EasyProcess = "^1.1"
"giturlparse.py" = "^0.0.5"
gunicorn = "^23.0.0"
oauthlib = "^3.2.0"
parse = "^1.20.2"
python-openid = "^2.2.5"
pytz = "^2024.1"
requests = "^2.32.3"
requests-oauthlib = "^1.3.1"
six = "^1.16.0"
tablib = "^3.8.0"
ua-parser = "^1.0.0"
djangorestframework = "^3.15.2"
cffi = "^1.17.1"
django-mdeditor = "^0.1.20"
django-tz-detect = "^0.4.0"
django-tellme = "^0.7.3"
django-bootstrap-datepicker-plus = "^5.0.5"
django-star-ratings = "^0.9.2"
stripe = "^8.4.0"
django-environ = "^0.12.0"
django-humanize = "^0.1.2"
drf-yasg = "^1.21.8"
django-simple-captcha = "^0.6.1"
django-filter = "^24.3"
webdriver-manager = "^4.0.2"
pillow = "^10.4.0"
chromedriver-autoinstaller = "^0.6.4"
sentry-sdk = "^2.20.0"
bitcash = "^1.0.2"
pydantic = "^2.10.5"
pydantic_core = "^2.18.4"
unstructured = "^0.16.14"
Markdown = "^3.6"
faiss-cpu = "^1.8.0"
psutil = "^5.9.8"
python-bitcoinrpc = "^1.0"
sendgrid = "^6.11.0"
matplotlib = "^3.10.0"
openpyxl = "^3.1.5"
atproto = "^0.0.55"
slack-bolt = "^1.22.0"
django-redis = "^5.4.0"
uvicorn = "^0.34.0"
channels = "^4.2.0"
channels-redis = "^4.2.1"
async-timeout = "^5.0.1"
aiohttp = "^3.11.11"
scout-apm = "^3.3.0"
newrelic = "^10.4.0"

[tool.poetry.group.dev.dependencies]
black = "^24.8.0"
isort = "^5.13.2"
ruff = "^0.9.2"
pre-commit = "^3.8.0"

[tool.isort]
known_first_party = ["blt"]
line_length = 100
profile = "black"

[tool.ruff]
line-length = 100
target-version = "py311"

[tool.ruff.lint]
# This is a temporary ignore list to address on a PR per category basis after the initial run.
ignore = ["E402", "E722", "F811", "F821", "F841", "T201"]
select = ["E4", "E7", "E9", "F", "T"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
