BeautifulSoup==3.2.1
beautifulsoup4==4.5.1
boto==2.42.0
bs4==0.0.1
dj-database-url==0.4.0
Django==1.9.2
django-activity-stream==0.6.3
django-allauth==0.27.0
django-cors-headers==1.1.0
django-email-obfuscator==0.1.4
django-gravatar2==1.4.0
django-screamshot==0.6.0
django-storages==1.5.0
django-timedeltafield==0.7.10
EasyProcess==0.2.2
gunicorn==19.4.5
oauthlib==1.1.2
parse==1.6.6
Pillow==3.3.1
psycopg2==2.6.1
python-openid==2.2.5
pytz==2016.6.1
PyVirtualDisplay==0.2
requests==2.11.1
requests-oauthlib==0.6.2
rollbar==0.13.3
selenium==2.53.6
six==1.10.0
tweepy==3.5.0
virtualenv==15.0.1
whitenoise==2.0.6
