BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
boto==2.48.0
bs4==0.0.1
colorthief==0.2.1
diff-match-patch==20121119
dj-database-url==0.5.0
Django==1.11.*
django-allauth==0.35.0
django-cors-headers==2.2.0
django-email-obfuscator==0.1.5
django-gravatar2==1.4.2
django-import-export==1.0.0
django-screamshot==0.8.1
django-storages==1.6.5
django-timedeltafield==0.7.10
EasyProcess==0.2.3
giturlparse.py==0.0.5
gunicorn==19.7.1
oauthlib==2.0.6
parse==1.8.2
Pillow==5.0.0
psycopg2==2.7.4
pytesseract==0.2.0
python-openid==2.2.5
pytz==2018.3
PyVirtualDisplay==0.2.1
requests[security]==2.18.4
requests-oauthlib==0.8.0
rollbar==0.13.18
selenium==3.11.0
six==1.11.0
tablib==0.12.1
tweepy==3.6.0
ua-parser==0.7.3
Unidecode==1.0.22
user-agents==1.1.0
virtualenv==15.1.0
whitenoise==3.3.1
django-debug-toolbar==1.9.1
django-pylibmc
pylibmc
django-annoying

