asgiref==3.8.1
beautifulsoup4==4.12.3
BitCash==1.0.2
channels==4.1.0
chromedriver_autoinstaller==0.6.4
colorthief==0.2.1
dj_database_url==2.3.0
dj_rest_auth==5.0.2
django_allauth==0.61.1
django_annoying==0.10.7
django_channels==0.7.0
django_environ==0.11.2
django_recaptcha==4.0.0
drf_yasg==1.21.8
giturlparse.py==0.0.5
humanize==4.11.0
langchain==0.3.4
langchain_community==0.3.3
langchain_core==0.3.13
langchain_openai==0.2.3
openai==1.52.2
Pillow==11.0.0
protobuf==5.28.3
pytesseract==0.3.13
python-dotenv==1.0.1
python_bitcoinrpc==1.0
selenium==4.25.0
sendgrid==6.11.0
sentry_sdk==2.17.0
six==1.16.0
stripe==8.11.0
tweepy==4.14.0
user_agents==2.2.0
whitenoise==6.7.0
