.activity-strip-section > img {
    width: auto;
    height: 100px;
}

.activity-screenshot img {
    height: auto;
}

.activity-strip-section > div > .small {
    position: relative;
    top: 0px;
}

.more_info {
    display: none;
    cursor: pointer;
}

.text-trunc {
    display: none;
}

@media only screen and (max-width: 450px) {
    .activity-strip .activity-strip-section {
        width: 95%;
        height: auto;
    }

    .activity-strip {
        height: 160px;
    }

    .activity-screenshot {
        position: absolute;
        top: 100px;
    }

    .bug-type {
        right: 0;
    }

    .activity-strip-section > div {
        overflow: auto;
    }

    .more_info {
        display: block;
        margin: 10px 0;
        cursor: pointer;
        color: #999;
    }

    .activity-strip-section > div > .small {
        display: none;
    }

    .text-trunc {
        display: block;
        margin-top: 10px;
    }

    .text-trunc:first-letter {
        text-transform: uppercase;
    }
}

@media only screen and (min-width: 400px) {
    .bug-type {
        position: relative;
        right: 0
    }
}

