/* Hide scrollbars but keep scroll behavior */
.scrollbar-hide {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge legacy */
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}