.fa{
	color: #555;
}

.round-icon{
	margin: 0 auto;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid #000; */
    background: #eee;
    border-radius: 50%;
    font-size: 30px;
    box-shadow: 0 1px 1px #444;
}


.no-shadow{
	box-shadow: 0 0 0 #000;
}

.tag{
    color: #999;
}

