body{
	font-family: 'Open Sans',arial;
	background-color: #fff;
}

@media only screen and (max-width: 800px){
	.navbar-header{
		float: left;
	}
	.navbar-default .tagline{
		display: none;
	}
}
.navbar-default .tagline{
	font-size: 14px;
	color: #999;
	line-height: 20px;
	padding-left: 5px;
	font-weight: 300; 
}
.page-header{
	font-weight: 400;
	font-size: 40px;
	padding: 30px;
	margin: 20px 0;
	border-bottom-width: 1px;
}
.chrome-plugin{
	color: #dd4252;
}
.sponsor-hunt{
	color: #dd4252;
}
.social-feeds{
	color: #dd4252;
}

.report-bug{
	color: #dd4252;
}

.start-tour{
	color: #dd4252;
}

.change-language{
	height: 25px; 
	margin-bottom: -10px; 
	border-radius: 5px; 
	background-color: darkgrey;
}

a:hover{
	color: #009688;
}

.login-button{
	height:50px;
	font-size:14px;
	border-width: 0;
	float:right;
	color:#dd4252;
	border-radius: 0;
}

.login-button:hover{
	border-width: 0;
	color: #009688;
}

#form1{
	max-width: 400px;
	margin: 30px 10px;
	overflow: contain;
}
@media only screen and (max-width: 800px)
{
	#form1{
		margin: 30px auto;
	}
}
.form label{
	color: #777;
}

.form .form-group{
	margin:0;
}

.form input,.form textarea{
	background-color: #eee;
	border-width: 0;
	box-shadow: 0 0 0 #000;	
}

.form input:focus,
.form textarea:focus{
	box-shadow: inset 0 2px 0 #ccc;
}

.form input[type="file"]{
	/*margin: 10px 0;*/
	margin:0;
	line-height: 22px;
	font-size: 18px;
	background-color: #fff;
}




#form1 .login_options li{
	list-style: none;
	display: inline-block;	
	
	margin-top: 20px;
}

#form1 ul{

	margin: 20px 0;
}

#video_span{
	display: inline-block;
	margin-top: 30px;
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 5px;
	background-color: #eee;
}


.page-sub-header{
	font-size: 22px;
    color: #999;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    font-weight: 300;

}

.panel-default > .panel-heading{
	background-color: transparent;
	border-color: transparent;
	border-bottom: 1px solid #eee;
	 color: #999;
	text-align: center;
}


.panel-default{
	padding: 10px;
	border-color: #fff;
	box-shadow : 0 0 0 #fff;
	margin: 0 auto;
}

.panel-footer{
	background-color: #fff;
	border-width: 1px;
	margin-top: 20px;

}

.panel-footer ul{

	overflow: contain;
	margin: 0 auto;
}

.panel-footer li{
	display: inline-block;
	float: left;
	margin: 40px 10px;
	
}


.panel-footer li a,.user-menu a{
	color: #dd4252;
}

.submit_button{
	
	background: #fff;
	border-width: 0;
	color: #dd4252;
	padding: 10px;
	display: inline-block;
	border: 1px solid #dd4252;
	border-radius: 6px;
}
.submit_button:hover{
	background-color: #ddd;
	color: #009688;
	border-color: #009688;

}
.free-plan-text{
	display: inline-block;
	
}
.user-menu{
	float: right;
}
.user-menu img{
	height: 25px;
	width: 25px;
}

@media only screen and (max-width: 1200px){
	.panel-footer li{
		margin:10px;
	}
}

.login_options .btn-default:hover{
	color: #009866;

}

.login_options .btn-default{
	color: #dd4252;
}

._overflow_text{
	font-size: 20px;
}

._overflow_img{
	max-width: 200px;
	height: auto;
}

.activity-strip {
	height:120px;
	overflow:hidden;
}
.activity-strip .activity-strip-section {
	overflow:hidden;
	float:left;
	width:80%;
	display:inline-flex;
}
.activity-strip-section > div {
	margin-left: 20px;	
	font-size: 16px;
	font-weight: bold;
}
.activity-strip-section > div a {
	text-decoration: none;
}
.activity-strip-section > div > .small {
	font-size: 14px;
	font-weight: initial;
	position: absolute;
	top: 80px;
	width: 85%;
}
.activity-screenshot {
	float:right;
	display:block;
	overflow:hidden;
}
.activity-screenshot img {
	width: 100px;
	height: 95%;
}
.panel-image {
	width: auto;
    height: 75px;
    margin: 0 auto;
    display: block;
	margin-bottom: -20px;
}
.panel-footer .btn {
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
}
.panel-issue {
	display: inline-flex;
}
.panel-issue-title {
	color: white;
	font-size: 46px;
	padding-left: 10px;
}
.issue-panel .panel-footer {
	padding-top: 20px;
}
.issue-panels .panel {
	max-height: 300px;
}
.issue-panels .panel .operations .btn {
	margin-top: 5px;
	margin-bottom: 5px;
}
.screenshot-img {
	border: 1px solid #d43f3a;
	width:90%;
}
/* INDEX PAGE */
.ds-btn li{
	list-style:none;
	float:left;
	padding:10px;
}
.ds-btn li a span{
	padding-left:15px;
	padding-right:5px;
	width:100%;
	display:inline-block;
	text-align:left;
}
.ds-btn li a span small{
	width:100%;
	display:inline-block;
	text-align:left;
}
.huge {
	overflow:auto;
}
.leaderboard-panel {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	background-color: #ddd;
	padding: 10px;
}
.leaderboard-panel .box{
	border: 3px solid #009688;	
	padding:7px;
	margin-right:5px;
	padding-top:10px;
	background:white;
}
.leaderboard-name,
.leaderboard-name:hover
.leaderboard-name:active {
	text-decoration: none !important;
}
.leaderboard-points {
	float: none !important;
}
.leaderboard-rank {
	margin-left: 15px;
}
textarea {
    resize: vertical;
}
input[type='file'] {
    opacity: 0;
    width: 1px;
    height:1px;
}
.submit_button {
    width: 100%;
}
.panel-heading .col-xs-3 {
    width:75px;
    height:75px;
}
.panel-heading .col-xs-3 {
    background-color:white;
    width:75px;
    height:75px;
}
.panel-heading .col-xs-9 {
    color:white;
}
.owasp-panel {
    background-color:#234082;
}
.owasp-panel .col-xs-9{
    color:white;
}
.mega-block {
 background: #fff none repeat scroll 0 0;
 box-shadow: 0 0 10px #f1f1f1;
 padding: 30px;
 text-align: center;
}
.mega-block ul {
 line-height: 35px;
 list-style: outside none none;
 margin: 0;
 min-height: 198px;
 padding: 0;
}
.mega-block a.boxed-btn {
 margin: 0;
}
.mega-block h1 {
 font-size: 55px;
 font-weight: 300;
}
.mega-block h1 span {
 font-size: 25px;
 padding-right: 3px;
}
.mega-block h3 {
 font-size: 25px;
 font-weight: 300;
}
.gradient-style {
 background: #000000;
 background: -webkit-linear-gradient(45deg, #000000 0%, #ffffff 100%);
 background: linear-gradient(45deg, #000000 0%, #ffffff 100%);
 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1);
}
.gradient-style {
 color: #fff;
 box-shadow: 0 0 10px #ccc
}
.block-icon {
 font-size: 80px;
 line-height: 80px;
 margin-bottom: 20px;
}
.gradient-style a {
 background-color: transparent;
 border: 1px solid #fff;
 color: #fff;
}
.mega-block h3 span {
 display: block;
 font-size: 14px;
 line-height: 20px;
}
.panel-heading .image_container{
	background-color: transparent;
}
.issue_count{
	color: #fff;
}
.issue_count a{
	color: #fff;
	text-decoration: none;
}
.issue_count a:hover{
	color: #dd4252;
}
.bug-type {
	position: absolute;
	right: 20px;
}
.comment_link {
 	position:absolute;
 	bottom:10px;
 	left:500px;
 }
/* Footer */
 #myFooter {
 	width: 100%;
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}
#myFooter .row {
    margin-bottom: 10px;
}
#myFooter img {
    margin-top: -3px;
}
#myFooter .footer-blt {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}
#myFooter .footer-blt p {
    margin: 10px;
    color: #ccc
}
#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}
#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}
#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}
#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}
#myFooter .fa-facebook:hover {
    color: #0077e2;
}
#myFooter .fa-twitter:hover {
    color: #00aced;
}
#myFooter .fa-github:hover {
    color: black;
}

.cardbox {
	width: 20rem;
}
