.text-slider-list{
	list-style: none;
}

.text-slider-line{
	display:none;
	color: #6f6c6c;
}

/*.text-slider-list:first-of-type .text-slider-line{
	display: block;
}*/


.text-slider{
	text-align: center;
	height: 100px;
}

