{% extends "company/company_dashboard_base.html" %}
{% block title %}
    Manage Bugs
{% endblock title %}
{% block body %}
    <style>
        .bottom-right {
            position: absolute;
            bottom: 10px;
            right: 15px;
        }
    </style>
    <div class="bottom-right">
        <a href="https://github.com/OWASP-BLT/BLT/blob/main/company/templates/company/company_manage_bugs.html">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.figma.com/file/s0xuxeU6O2guoWEfA9OElZ/Design?node-id=3%3A76&t=pqxWpF3hcYxjEDrs-1">
            <i class="fab fa-figma"></i>
        </a>
    </div>
    <div class="bg-[#F3F5F7]">
        <div class="w-full mt-5">
            <p class="text-[#464255] font-satoshi font-bold text-[35px] px-5">Manage Bugs</p>
        </div>
    </div>
{% endblock body %}
