{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% block style %}
    <style>
    .inner-addon {
        position: relative;
    }

    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

    .left-addon .glyphicon {
        left: 0px;
    }

    .right-addon .glyphicon {
        right: 0px;
    }

    .left-addon input {
        padding-left: 30px;
    }

    .right-addon input {
        padding-right: 30px;
    }
    </style>
{% endblock style %}
{% block content %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="row">
        <h1 class="text-center">{% trans "Password Reset" %}</h1>
        <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
            <p>
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>
            <form method="post"
                  action="{% url 'account_reset_password' %}"
                  class="password_reset">
                {% csrf_token %}
                <div class="form-group inner-addon left-addon {% if form.email.errors %}has-error{% endif %}">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <input class="form-control"
                           type="email"
                           id="id_email"
                           name="email"
                           placeholder="Email">
                    <span class="help-block">{{ form.email.errors }}</span>
                </div>
                <input type="submit"
                       class="btn btn-primary pull-right"
                       value='{% trans "Reset My Password" %}' />
            </form>
        </div>
    </div>
{% endblock content %}
