{% extends "base.html" %}
{% load static %}
{% block content %}
    {% include "includes/sidenav.html" %}
    <div class="container mx-auto mt-10">
        <div class="text-center mb-20">
            <h1 class="text-5xl font-bold flex items-center justify-center gap-3 text-gray-800">
                <i class="fas fa-book-open text-blue-600"></i> {{ user.username|capfirst }}'s Courses
            </h1>
        </div>
        <div class="container mx-auto mt-10 flex">
            <!-- Main Content -->
            <main class="w-3/4 p-6">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-10">
                    {% for course in courses %}
                        <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
                            <img src="{{ course.thumbnail.url }}"
                                 class="w-full h-56 object-cover"
                                 alt="{{ course.title }}"
                                 width="400"
                                 height="224">
                            <div class="p-6">
                                <h3 class="text-xl font-bold text-gray-800 mb-2">{{ course.title }}</h3>
                                <p class="text-gray-600 text-sm mb-4">{{ course.description|truncatewords:20 }}</p>
                                <div class="flex items-center text-gray-700 mb-4 font-bold">
                                    <i class="fas fa-chart-line text-blue-500 mr-2"></i>
                                    <span>
                                        <strong>Level:</strong>
                                        {% if course.level == "BEG" %}
                                            <span class="text-green-600">{{ course.get_level_display }}</span>
                                        {% elif course.level == "INT" %}
                                            <span class="text-yellow-700">{{ course.get_level_display }}</span>
                                        {% elif course.level == "ADV" %}
                                            <span class="text-red-700">{{ course.get_level_display }}</span>
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="mb-4">
                                    <div class="flex flex-wrap mt-2">
                                        {% for tag in course.tags.all %}
                                            <span class="bg-blue-100 text-blue-800 text-sm font-semibold mr-2 mb-2 px-3 py-1 rounded-sm flex items-center">
                                                {{ tag.name }}
                                            </span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <a href="{% url 'edit_course' course.id %}"
                                   class="mt-4 inline-flex justify-center items-center bg-blue-600 w-full text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-800 hover:text-white transition-colors duration-300">
                                    <i class="fas fa-pencil-alt mr-2"></i>
                                    Edit Course
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Create Lecture Form -->
                <div id="createLecture" class="hidden">
                    <h1 class="text-3xl font-bold">Create a Lecture</h1>
                    <form class="mt-4 space-y-4">
                        <input type="text"
                               placeholder="Lecture Title"
                               class="w-full p-2 border rounded">
                        <textarea placeholder="Lecture Content" class="w-full p-2 border rounded"></textarea>
                        <button type="submit"
                                class="px-6 py-2 bg-blue-600 text-white font-semibold rounded hover:bg-blue-700 transition">
                            Submit
                        </button>
                    </form>
                </div>
                <!-- Reports Section -->
                <div id="viewReports" class="hidden">
                    <h1 class="text-3xl font-bold">View Reports</h1>
                    <p class="text-gray-700 mt-2">Report content goes here...</p>
                </div>
            </main>
        </div>
    </div>
{% endblock content %}
