{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="font-serif">
        <center>
            <h1>SERVER ERROR</h1>
            {% if exception %}Error message: {{ exception }}{% endif %}
            <br>
            Refresh the page or report it <a><span class="errors">here</span></a>.
        </center>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.errors', function () {
                var url = window.location.href;
                var redirect_url = 'https://{% env "FQDN" %}/report/?url=' + url;
                var redirectWindow = window.open(redirect_url, '_blank');
                redirectWindow.location;
            });
        });
    </script>
{% endblock content %}
