{% load gravatar %}
<div class="list-group-item activity-strip">
    <div class="activity-strip-section">
        <a class="comment_link" href="{{activity.get_absolute_url }}#comments">
            {{ activity.comments.all|length }} comments
        </a>

        {% if activity.user.socialaccount_set.all.0.get_avatar_url %}
            <img src="{{activity.user.socialaccount_set.all.0.get_avatar_url}}" width="100" class="img-responsive img-rounded">
        {% else %}
            <img src="{% gravatar_url activity.user.email 100 %}" width="100" class="img-responsive img-rounded">
        {% endif %}

        <div class="info">
            <a href="/domain/{{ activity.domain_name }}">
                <img src="http://www.{{activity.domain_name}}/favicon.ico" height="25" onerror="this.onerror=null; this.style.display='none';">
            </a>
            <a href="{{ activity.get_absolute_url }}">{{ activity.description|truncatechars:100 }}</a>
            {% if activity.status == "open" %}
                <span class="label label-success text-capitalize">{{activity.status}}</span>
            {% else %}
                <span class="label label-danger text-capitalize">{{activity.status}}</span>
            {% endif %}
            <div class="small">
                <a href="{{ activity.user.get_absolute_url }}" class="text-capitalize">
                    {{ activity.user }}
                </a>
                found a bug on <a href="/domain/{{ activity.domain_name }}">{{ activity.domain_title }}</a> {{ activity.timestamp|timesince }} ago | 
                <a href="//{{ activity.domain_name }}">{{ activity.domain_name }}</a>
                <span class="label label-info bug-type">{{activity.get_label_display}}</span>
            </div>
        </div>
    </div>
    <div class="activity-screenshot">
        {% if activity.screenshot %}
            <a href="{{ activity.get_absolute_url }}">
                <img src="{{ activity.screenshot.url }}">
            </a>
        {% endif %}
    </div>
</div>
