{% extends "base.html" %}
{% load gravatar %}
{% load staticfiles %}
{% load humanize %}

{% block style %}
.row .col-md-6:nth-child(1) .panel {
    background-color:#F76B78;
}
.row .col-md-6:nth-child(2) .panel {
    background-color:#DC4353;
}
.row .col-md-6:nth-child(3) .panel {
    background-color:#C41E2E;
}
.row .col-md-6:nth-child(4) .panel {
    background-color:#9B0C1A;
}
.row .col-md-6:nth-child(1) .panel button {
    background-color:#F76B78;
    border-color:#F76B78;
}
.row .col-md-6:nth-child(2) .panel button {
    background-color:#DC4353;
    border-color:#DC4353;
}
.row .col-md-6:nth-child(3) .panel button {
    background-color:#C41E2E;
    border-color:#C41E2E;
}
.row .col-md-6:nth-child(4) .panel button {
    background-color:#9B0C1A;
    border-color:#9B0C1A;
}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <h1>About BugHeist</h1>
            <p>Software code allows us to buy a gift for Mom or Dad on amazon.com in 7 seconds, watch our favorite “House of Cards” episode on Netflix or read Yelp reviews about a new restaurant.</p>

            <p>When we can’t access the information we’re looking for on the internet within seconds, <i>we are not happy.</i><p>

            <p>This is where you come into the picture.</p>

            <p>BugHeist wants you to identify the software (and hardware) bugs that delay downloads, freeze screens, create payloads that deliver malware to websites and generate other issues.</p>

            <h2><strong>What’s in it for you?</strong></h2>
            <ul>
                <li>Points.</li>
                <li>Money if you join a BugHeist Sponsored Bug Hunt.</li>
                <li>Jackpot money listed on the Leaderboard.</li>
                <li>Money if someone tips you for finding a bug through the tip button.</li>
                <li>Experience to add to your résumé or portfolio.</li> 
            </ul>
            
            <h3><strong>How it Works</strong></h3>

            <h4><strong>Testers</strong></h4>
            <ol>
                <li>Create a User Account to log into BugHeist.</li>
                <li>Describe the software or hardware bug you found.</li>
                <li>Attach a screenshot of the bug.</li>
                <li>Submit the information.</li>
                <li>Win money through company-sponsored Bug Hunts, tips or the Grand Prize/Jackpot.We may also have "heists" where each bug is worth a specific amount based on what the company sets.</li>
                <li>If you participate in BugHeist’s sponsored Bug Hunts, you could win prize money known as tips. (confirm/update)</li>
            </ol>

            <h4><strong>Organizations</strong></h4>

            We want everyone to love your website.
            <p>You want to keep your customers happy by giving them a consistent bug-free user experience. BugHeist offers monthly Bug Hunts through 4 different subscription plans to help you achieve this.</p>

            <h1>Subscriptions:</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{% static 'img/flea.svg' %}" width="100" height="100">
                        </div>
                        <div class="col-xs-9 text-right" style="color:white;">
                            <div class="huge">Flea</div>
                            <span style="font-size:24pt">$9</span> / month
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left" ><i class="fa fa-balance-scale"></i> $4 Bugheist / $5 tips</span>
                    <span class="pull-right"></span>
                    <div class="clearfix"></div></br><center>
                    <button type="submit" onclick="window.location.href='/hunt';"  class="btn btn-primary btn-lg" id="btn">Start</button></center>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3" >
                            <img src="{% static 'img/ant.svg' %}" width="100" height="100">
                        </div>
                        <div class="col-xs-9 text-right" style="color:white;">
                            <div class="huge">Ant</div>
                            <span style="font-size:24pt">$99</span> / month
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left"><i class="fa fa-balance-scale" style="width:20px;"></i> $49 Bugheist / $50 tips</span></br>
                    <span class="pull-left" style="font-size:18pt;"><i class="fa fa-bullhorn"  style="width:25px;"></i> Weekly Announcement</span>
                    <div class="clearfix"></div></br><center>
                    <button type="submit" onclick="window.location.href='/hunt';"  onclick="changeValue(this)" class="btn btn-primary btn-lg ">Start </button></center>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{% static 'img/wasp.svg' %}" width="100" height="100">
                        </div>
                        <div class="col-xs-9 text-right" style="color:white;">
                            <div class="huge">Wasp</div>
                            <span style="font-size:24pt">$499</span> / month
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left" ><i class="fa fa-balance-scale" style="width:20px;"></i> $99 Bugheist / $400 tips</span></br>
                    <span class="pull-left" style="font-size:18pt;"><i class="fa fa-bullhorn"  style="width:25px;"></i> Weekly Announcement</span>
                    <span class="pull-left" style="font-size:20pt;"><i class="fa fa-globe"  style="width:25px;"></i> Homepage Featured</span>
                    <div class="clearfix"></div></br><center>
                    <button type="submit" onclick="window.location.href='/hunt';"  class="btn btn-primary btn-lg">Start </button></center>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{% static 'img/scorpion.svg' %}" width="100" height="100">
                        </div>
                        <div class="col-xs-9 text-right" style="color:white;">
                            <div class="huge">Scorpion</div>
                            <span style="font-size:24pt">$1,499</span> / month
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left" ><i class="fa fa-balance-scale" style="width:20px;"></i> $199 Bugheist / $1,300 tips</span></br>
                    <span class="pull-left" style="font-size:18pt;"><i class="fa fa-bullhorn"  style="width:25px;"></i> Weekly Announcement</span>
                    <span class="pull-left" style="font-size:20pt;"><i class="fa fa-globe"  style="width:25px;"></i> Homepage Featured</span>
                    <span class="pull-left" style="font-size:23pt;"><i class="fa fa-trophy"  style="width:25px;"></i> Monthly Hackathon</span>
                    <div class="clearfix"></div></br><center>
                    <button type="submit"  onclick="window.location.href='/hunt';" class="btn btn-primary btn-lg">Start</button></center>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Want to kick the tires before you make a purchase? BugHeist shares up to 5 software bugs fee-free through a Trial Bug Hunt.</h3>
            Test-drive BugHeist here <a href="/hunt" class="btn btn-primary submit_button">Start</a>
        </div>
    </div>
{% endblock %}
