{% extends "base.html" %}
{% load gravatar %}
{% load static %}
{% load humanize %}
{% load custom_tags %}
{% block content %}
    {% include "includes/sidenav.html" %}
    {% block edit_link %}
        <div class="bottom-right">
            <a href="https://github.com/OWASP-BLT/BLT/blob/main/website/templates/about.html">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.figma.com/file/s0xuxeU6O2guoWEfA9OElZ/Design?node-id=487%3A2791&t=OZnfXHD7sfzkaLm1-1">
                <i class="fab fa-figma"></i>
            </a>
        </div>
    {% endblock edit_link %}
    <div class="flex flex-col sm:flex-row mt-10"></div>
    <div class="row">
        <div class="col-lg-6">
            {% include "mobile_about.html" %}
            <h1>BLT is 100% free to use, Open Source and a non-commercial, not for profit initiative.</h1>
        </div>
    </div>
{% endblock content %}
