<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIDDING</title>
</head>
<body>
    <script>
        function fetchBid() {
            const issueUrl = document.getElementById('issueLinkInput').value;
            const csrftoken = getCookie('csrftoken');  // Function to retrieve the CSRF token from cookies
        
            fetch(`/fetch-current-bid/`, {
                method: 'POST',  // Or 'POST' if your view requires a POST request
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ issue_url: issueUrl }),
            })
            .then(response => response.json())
            .then(data => {
                if ('current_bid' in data) {
                    const currentBid = data.current_bid;
                    // Process the currentBid value
                    document.getElementById('BidDisplay').innerHTML = `Current Bid: ${currentBid}`;
                    document.getElementById('bid_amount').setAttribute('max', currentBid);
                } else {
                    // Handle the case where there is no current bid
                    document.getElementById('BidDisplay').innerHTML = 'No current bid';
                }
            })
        }
        
        // Function to retrieve the CSRF token from cookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
            </script>
    <form method="post" action="{% url 'BiddingData' %}">
        {% csrf_token %}
        <label>Issue link:</label>
        <input type="text" id="issueLinkInput" name="issue_url">
        <br>
        <button type="button" onclick="fetchBid()">Fetch</button>
        <br>
        <p id="BidDisplay"></p>
        <br>
        <label for="bid_amount" id="bid_amount" >New Bid:</label>
        <input type="number" id="bid_amount" name="bid_amount" required min="1" >
        <br>
        <button type="submit" id="submitBid">Submit Bid</button>
    </form>

</body>
</html>