{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}
    BLTV - Videos on BLT Projects
{% endblock title %}
{% block description %}
    Watch videos related to the BLT projects. Learn how to configure, host, and use various tools in the OWASP BLT ecosystem through video tutorials.
{% endblock description %}
{% block keywords %}
    BLTV, BLT projects, video tutorials, YouTube, Slack bot, PythonAnywhere, OWASP
{% endblock keywords %}
{% block og_title %}
    BLTV - Videos on BLT Projects
{% endblock og_title %}
{% block og_description %}
    Explore BLT project tutorials on YouTube. Learn to configure Slack bots and host them on platforms like PythonAnywhere.
{% endblock og_description %}
{% block content %}
    {% include "includes/sidenav.html" %}
    <style>
        .container {
            margin-top: 20px;
        }
        .card {
            margin-bottom: 20px;
        }
        /* Responsive iframe */
        .video-responsive{
            overflow:hidden;
            padding-bottom:56.25%;
            position:relative;
            height:0;
        }
        .video-responsive iframe{
            left:0;
            top:0;
            height:100%;
            width:100%;
            position:absolute;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="my-4">BLTV</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="video-responsive">
                        <iframe src="https://www.youtube.com/embed/N_59irHRjzM"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="video-responsive">
                        <iframe src="https://www.youtube.com/embed/IYBRVRfPCK8"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="video-responsive">
                        <iframe src="https://www.youtube.com/embed/jNp3J6HLpqc"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="video-responsive">
                        <iframe src="https://www.youtube.com/embed/OmxGrjGA_ck"
                                title="How to configure Slack Bot"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="video-responsive">
                        <iframe src="https://www.youtube.com/embed/C_UIm1QR67o"
                                title="Host Slack Bot on PythonAnywhere"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
