{% extends "base_dashboard_user.html" %}
{% load gravatar %}
{% load static %}
{% load ratings %}
{% block style %}

.in-entire {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.left-cov, .right-cov {
  height: 100%;
}

.left-cov {
  width: 30%;
  background: #3bd881;
}

.right-cov {
  width: 70%;
  background: #fff;
  overflow: auto;
}

@media (max-width: 700px) {
  .entire {
    width: auto;
    height: auto;
  }

  .left-cov, .right-cov {
    width: 100%;
  }
}
.profile {
  margin: 100px auto 50px auto;
  width: 100px;
  padding: 10px;
}

.human {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 9px solid #fff;
  border-radius: 50%;
  position: relative;
}
.human:before {
  content: '';
  width: 108px;
  height: 100px;
  position: absolute;
  border: 3px solid #fff;
  border-width: 9px 0 0 0;
  right: -55%;
  bottom: -112px;
  border-radius: 50%;
}

.basic {
  text-align: center;
  font-size: 26px;
  color: #fff;
}
.basic span {
  display: block;
  text-align: center;
  font-size: 22px;
}

.detail {
  padding: 1px;
}

.full-detail {
  padding: 20px 30px;
  overflow: auto;
}

h3 {
  text-align: center;
  position: relative;
  padding: 1px;
}
h3:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -10px;
  width: 30px;
  height: 3px;
  background: #3bd881;
}

h4 {
  position: relative;
  padding: 1px;
}
h4:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 2px;
  background: #3bd881;
}

p a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
p a:hover {
  color: #888;
}

.ball {
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  margin: 0 auto;
  opacity: 1;
  -webkit-animation: jump 1s infinite alternate;
          animation: jump 1s infinite alternate;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translatex(-10px);
            transform: translatex(-10px);
  }
  50% {
    -webkit-transform: translatex(10px);
            transform: translatex(10px);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translatex(-10px);
            transform: translatex(-10px);
  }
  50% {
    -webkit-transform: translatex(10px);
            transform: translatex(10px);
  }
}

{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<link link="link" href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet"/>
<div class="entire">
  <div class="in-entire">
    <div class="left-cov">
      <div class="profile">
        <div class="team-single-img">
                    {% if user.userprofile.avatar %}
                        <img src="{{ user.userprofile.avatar }}" class="img-responsive img-circle center-block">
                    {% else %}
                        <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" class="img-responsive img-circle center-block">
                    {% endif %}
                </div>
      </div>
      <div class="basic">{{user.username|title }}</div>

                    {% ratings user %}
                    <div id="target_div">
                        {% include 'followers.html' %}
                    </div>
      <div class="baisc"><span>{{user_details.description }}</span><span class="ball"></span></div>
    </div>
    <div class="right-cov">
      <div class="detail">
        <h3>My Profile</h3>
      </div>
      <div class="full-detail">
        <h4>Skills</h4>
        <p>HTML(PUG), CSS(SASS), JavaScript, Jquery, Illustrator</p>
        <h4>Email</h4>
        <p> <a href="mailto:subashmani47@gmail.com">mannyuiux@gmail.com</a></p>
        <h4>Native</h4>
        <p>Tirunelveli, India</p>
        <h4>Connect</h4>
        <p><a href="https://codepen.io/mannyuiux">CODEPEN</a></p>
      </div>
    </div>
  </div>
</div>
    
{% endblock %}
