{% extends "base.html" %}
{% load gravatar %}
{% load static %}
{% load humanize %}
{% load custom_tags %}

{% block style %}
<style>
    body {
        background-color: #f8f9fa; /* Bootstrap default background color */
        padding-top: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Recommended sans-serif font stack */
        font-size: 16px;
        color: #333; /* Dark text color */
    }

    .div-container {
        max-width: 800px; /* Adjust based on your design */
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 24px;
        color: #007bff;
        margin-bottom: 20px;
        padding-bottom: 10px ;
    }

    .viewer {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
    }

    form {
        margin-bottom: 20px;
    }

    input[type="radio"] {
        margin-right: 5px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }


    #request-button,
    #grant_access_button,
    #home-button {
        width: 100%;
        font-size: 16px;
        letter-spacing: 1px;
        transition: background-color 0.3s ease;
    }

    #request-button:hover,
    #grant_access_button:hover,
    #home-button:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}


{% block content %}
    <div class="div-container">
        <h1>Manage View access to hidden Issue.</h1>
        <form method="POST" action="#">
            <h2>User who has view access:</h2>
            <div class="viewer">
                {% for viewer in viewers %}
                <input type="radio" id="select_viewer" name="select_viewer" value="{{ viewer.id }}">
                <label for="select_viewer"><a href="{% url 'profile' slug=viewer %}">{{ viewer }}</a></label><br>
                {% endfor %}
            </div>

            {% for requester in requesters %}
                <p>{{ requester.message }}</p>
                <input type="radio" id="select_user" name="select_user" value="{{ requester.user.id }}">
                <label for="select_user">Requested By: <a href="{% url 'profile' slug=requester.user %}">{{ requester.user }}</a></label><br>
            {% endfor %}
            
            {% csrf_token %}
            
            <p>Warning: Granting access would allow the user to view the hidden Issue reported to the company.</p>
            
            <div class="row">
                <div class="col-md-4">
                    <button id="grant_access_button" name="grant_access" type="submit" class="btn btn-warning" value="grant_access">Grant Access</button>
                </div>
                <div class="col-md-4">
                    <button id="home-button" type="button" class="btn btn-secondary"><a href="../../">Back</a></button>
                </div>
                <div class="col-md-4">
                    <button id="request-button" name="cancel" type="cancel" class="btn btn-danger" value="cancel">Decline</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

