{% extends "base_dashboard.html" %}
{% load static %}
{% block title %}Drafts - organization Dashboard{% endblock %}
{% block description %}
    View and manage your draft hunts in the organization Dashboard. Track progress and update as needed.
{% endblock %}
{% block keywords %}
    organization Dashboard, drafts, hunts, bug reporting, manage hunts, security, draft hunts
{% endblock %}
{% block og_title %}Drafts - organization Dashboard{% endblock %}
{% block og_description %}
    View and manage your draft hunts in the organization Dashboard. Track progress and update as needed.
{% endblock %}
{% block content %}
    <section>
        {% include "includes/organization_sidenav.html" %}
    </section>
    <div>
        <div class="col_3">
            <h3 class="text-left blank1">Drafts</h3>
            {% if hunts %}
                {% for hunt in hunts %}
                    <a href='{% url "organization_dashboard_hunt_detail" hunt.pk %}'>
                        <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                                <i class="fa fa-mail-forward"></i>
                                <div class="stats">
                                    <h5>{{ hunt.name }}</h5>
                                    <div class="hunt">
                                        <p>
                                            {{ hunt.url }}<span>$</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
            </br>
            no drafts found !
        {% endif %}
        <div class="clearfix"></div>
    </div>
</div>
{% endblock content %}

