{% extends "base_dashboard_domain.html" %}
{% load static %}
{% block title %}
    Ongoing Hunts
{% endblock title %}
{% block description %}
    Stay updated with the ongoing hunts. View details of active hunts, including domain information, descriptions, and prizes.
{% endblock description %}
{% block keywords %}
    Ongoing Hunts, Active Hunts, Current Hunts, Domain Details, Prizes
{% endblock keywords %}
{% block og_title %}
    Ongoing Hunts - Stay Updated with Active Hunts
{% endblock og_title %}
{% block og_description %}
    Discover the details of ongoing hunts, including domain information, descriptions, and prizes. Stay updated with active hunts.
{% endblock og_description %}
{% block content %}
    <div>
        <div class="col_3">
            <h3 class="text-left blank1">Ongoing Hunts</h3>
            {% if hunts %}
                {% for hunt in hunts %}
                    <div class="col-md-3 widget widget1">
                        <div class="r3_counter_box">
                            <i class="fa fa-mail-forward"></i>
                            <div class="stats">
                                <h5>{{ hunt.url }}</h5>
                                <div class="hunt">
                                    <p>
                                        {{ hunt.prize }}<span>$</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            </br>
            no ongoing hunts !
        {% endif %}
        <div class="clearfix"></div>
    </div>
</div>
{% endblock content %}

