{% extends "base_full.html" %}
{% load staticfiles %}
{% load gravatar %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
                <script src="{% static "js/color-thief.js" %}"></script>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="page-header">Get points for testing and finding issues.</h1>
                </div>
                <div class="col-lg-6">
                    <h1 class="page-header">
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}&nbsp;<center>
                    <a href="/start">
                    <button type="submit" class="btn btn-default btn-danger" style="height:40px; font-size:20px;">Get Started</button>
                    </a>
                    </center>
                    </h1>
            </div>

                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <form role="form" action="/issue/" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
       
                        <div class="form-group">
                            <label>Find an issue on any website: e.g. example.com/page-with-issue 
                            {% if not user.is_authenticated %}
                                <span style="color:#DD4351; margin-left:170px;">* login required</span>
                            {% endif %}
                            </label>{{form.url.errors}}
                            {% if request.GET.url %}
                            <input class="form-control" placeholder="Website URL" name="url" value="{{request.GET.url}}">
                            {% else %}
                             <input class="form-control" placeholder="Website URL" name="url" value="{{form.url.value|default:""}}">
                             {% endif %}
                        </div>
                        <div class="form-group">
                            <label>Describe Issue:</label>{{form.description.errors}}
                            <textarea class="form-control" rows="3" placeholder="Describe the issue..."  name="description">{{form.description.value|default:""}}</textarea>
                        </div>
                    

                        <div class="form-group">
                            <label>Attach Screenshot (+2pts)</label>{{form.screenshot.errors}}
                            {% if request.GET.hash %}</br>
                            <img src="{{ MEDIA_URL }}uploads/{{request.GET.hash}}.png" height="100" style=" border: 1px solid #d43f3a;">
                            <input type="hidden" name="screenshot-hash" value="{{request.GET.hash}}">
                            {% else %}
                            <input type="file" name="screenshot">
                            {% endif %}
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-danger" style="height:44px; font-size:24px;">Enter Issue (+1pt)</button>
                            {% if not user.is_authenticated %}
                            <a href="/accounts/login">
                            <button class="btn btn-default btn-caution" style="float:right;">
                                <i class="fa fa-envelope fa-2x"></i>
                            </button>
                            </a>
                            <a href="{% provider_login_url "facebook" method="js_sdk" %}">
                            <button class="btn btn-default btn-caution" style="float:right;">
                                <i class="fa fa-facebook fa-2x"></i>
                            </button>  
                            </a>
                            <a href="{% provider_login_url "google" method="js_sdk" %}">
                            <button class="btn btn-default btn-caution" style="float:right;">
                                <i class="fa fa-google fa-2x"></i>
                            </button> 
                            </a>
                            <a href="{% provider_login_url "github" method="js_sdk" %}">          
                            <button class="btn btn-default btn-caution" style="float:right;">
                                <i class="fa fa-github fa-2x"></i>
                            </button>
                            </a>

                             <a href="/accounts/login">
                            <button class="btn btn-default btn-caution" style="float:right; height:43px; font-size:24px;"><i class="fa fa-sign-in fa-fw"></i>Login</button>
                            </a>
                            {% endif %}

                        </div>
                    </form>
                </div>
                <div class="col-lg-6"><center>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/o-t6HDXjpP8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></center>
                </div>
                

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Sponsored Bug Hunts</h1>

                </div>
                <!-- /.col-lg-12 -->
            </div>                                 
            <!-- /.row -->
            <div class="row">



                {% for hunt in hunts %}
                <div class="col-lg-3 col-md-6">
                    <div class="panel"  id="hunt_{{hunt.id}}">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3" >
                                <img src="{{MEDIA_URL}}{{hunt.logo}}" width="75" height="75" id="hunt_image{{hunt.id}}" style="background-color:white;">
                                </div>
                                <div class="col-xs-9 text-right" style="color:white;">
                                    <div class="huge">{{hunt.domain}}</div>
                                    <div>Grand Prize ${{hunt.prize}}</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{hunt.url}}" target="_new">
                            <div class="panel-footer">
                                <span class="pull-left" id="hunt_link{{hunt.id}}">View Website</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right" id="hunt_icon{{hunt.id}}"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                            <script>

                                 $('#hunt_{{hunt.id}}').css('background-color', "{{hunt.color}}");
                                 $('#hunt_icon{{hunt.id}}').css('color', "{{hunt.color}}");
                                 $('#hunt_link{{hunt.id}}').css('color', "{{hunt.color}}");

                                 
                         </script>
                </div>
                {% endfor %}

                                <div class="col-lg-3 col-md-6">
                    <div class="panel"  style="background-color:#234082">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                <img src="https://www.owasp.org/images/thumb/2/2f/Owasp_logo_flat2_icon.jpg/100px-Owasp_logo_flat2_icon.jpg" width="75" height="75">
                                </div>
                                <div class="col-xs-9 text-right " style="color:white;">
                                    <div class="huge">OWASP</div>
                                    <div>Grand Prize $500</div>
                                </div>
                            </div>
                        </div>
                        <a href="https://www.owasp.org/index.php/Bug_Bounty_Projects" target="_new">
                            <div class="panel-footer">
                                <span class="pull-left" style="color:#234082">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right" style="color:#234082"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel" style="background-color:#33A1DC">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                <img src="http://theshopsatsomersetsquare.com/wp-content/uploads/2014/08/att-logo.jpg" width="75" height="75">

                                
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">AT&T</div>
                                    <div>Grand Prize $1500</div>
                                </div>
                            </div>
                        </div>
                        <a href="https://bugbounty.att.com/home.php" target="_new">
                            <div class="panel-footer">
                                <span class="pull-left" style="color:#33A1DC">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right" style="color:#33A1DC"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
            <!-- /.row -->
                <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Activity</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>  
            <div class="row">
                
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                                Latest
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group" >
                            {% for activity in activities %}
                                <div class="list-group-item" style="height:96px; overflow:hidden;">
                                
                                <div style=" overflow:hidden; float:left; width:100%; height: 61px; clear:both; display:inline; padding-right:110px;" >
                                <div style="float:left;margin-right:10px">
                                 {% if activity.actor.socialaccount_set.all.0.get_avatar_url %}
                                            <img src="{{activity.actor.socialaccount_set.all.0.get_avatar_url}}" width="50" height="50">
                                            {% else %}
                                            {% gravatar activity.actor.email 50 %} 
                                            {% endif %}
                                </div>
                                {% if activity.verb == "logged in" %}
                                    <i class="fa fa-sign-in fa-fw"></i>
                                {% elif activity.verb == "found a bug on website" %}
                                    <i class="fa fa-bug fa-fw"></i>
                                {% endif %}
                                   
                                    {% if activity.action_object %}
                                        {% if activity.action_object.get_absolute_url %}
                                            <a href="{{ activity.action_object.get_absolute_url }}">{{ activity.action_object }}</a>
                                        {% else %}
                                            <a href="{{ activity.action_object_url }}">{{ activity.action_object }}</a>
                                        {% endif %}
                                    {% endif %}
                                    {% if activity.action_object and activity.target %}to{% endif %}

                                    {% if activity.target %}
                                        {% if activity.target.get_absolute_url %}

                                            <a href="/domain/{{ activity.target.domain_name }}"><img src="http://www.{{activity.target.domain_name}}/favicon.ico" height="25" onerror="this.onerror=null; this.style.display ='none';"></a><a href="{{ activity.target.get_absolute_url }}" style="margin-left:10px;">{{ activity.target }}</a>

                                        {% else %}
                                            <a href="{{ activity.target_url }}"> - {{ activity.target }}</a>
                                        {% endif %}
                                    {% endif %}
                                   
                                </div>
                                <div style="clear:both; width:50%; display:inline-block; margin-top:2px; ">
                                 {% if activity.actor.get_absolute_url %}
                                        <a href="{{ activity.actor.get_absolute_url }}">{{ activity.actor }}</a>
                                    {% else %}
                                        <a href="{{ activity.actor_url }}">{{ activity.actor }}</a>
                                    {% endif %}
                                    {{ activity.verb }} <a href="/domain/{{ activity.target.domain_name }}">{{ activity.target.domain }}</a> {{ activity.timestamp|timesince }} ago
                                </div>
                                    
                                    <div style="float:right;  display:block; margin-top: -60px; overflow:hidden; height: 72px;">
                                         
                                        {% if activity.target.screenshot %} 
                                        <a href="{{ activity.target.get_absolute_url }}">
                                            <img src="{{ activity.target.screenshot.url }}" width="100" style="float:right;" >
                                        </a>
                                        {% endif %}
                                        
                                      
                                    </div>
                                </div>
                            {% endfor %}
                               
                            </div>
                            <!-- /.list-group -->
                            <a href="/all_activity" class="btn btn-default btn-block">View All Activity</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>


                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                                Leaderboard
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                            {% for leader in leaderboard %}
                                <div class="list-group-item">
                                {% gravatar leader.user__email 20 %}
                                <a href="/profile/{{leader.user__username}}">{{leader.user__username}}</a>
                                   
                                    <span class="pull-right text-muted small"><em>{{leader.total_score}} points</em>
                                    
                                    </span>
                                </div>
                            {% endfor %}
                               
                            </div>
                            <!-- /.list-group 
                            <a href="#" class="btn btn-default btn-block">View All</a>-->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

{% endblock %}