{% extends "base_home.html" %}
{% load staticfiles %}
{% load gravatar %}
{% load socialaccount %}
{% load humanize %}
{% providers_media_js %}
{% load i18n %}
{% block content %}
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static 'js/activity.js' %}"></script>    
    <section class="hero">
        <div class="heading">
            <h1 class="page-header">{% trans "Find Bugs, Win Points and Prizes" %}</h1>
        </div>
        <div class="text-slider">
            <ul>
                <li class="text-slider-list"><h2 class="text-slider-line active-line animated fadeInUp">{% trans "Fix issues on websites, apps or hardware (+3 points)" %}</h2></li>
                <li class="text-slider-list"><h2 class="text-slider-line animated fadeInUp">{% trans "Verify other bug reports(+2 points)" %}</h2></li>
                <li class="text-slider-list"><h2 class="text-slider-line animated fadeInUp">{% trans "Invite friends (when they signup , get +1 point)" %}</h2></li>
                <li class="text-slider-list"><h2 class="text-slider-line animated fadeInUp">{% trans "Find a bug on a new site or app (+4 points)" %}</h2></li>
            </ul>
        </div>
        <br>
    </section>

    <div class="container">
            <center>
            <div class="row">
                <div class="col-sm-4">    
                    <div class="card cardbox">
                      <center><i class="fa fa-exclamation-triangle fa-3x"></i></center>  
                      <div class="card-block">
                        <h4 class="card-title">{% trans "Number Error" %}</h4>
                        <p class="card-text">{% trans "For pages where you see a number 404, 500." %}</p>
                      </div>
                    </div>
                </div>
                
                <div class="col-sm-4">    
                    <div class="card cardbox">
                      <center><i class="fa fa-trophy fa-3x"></i></center>
                      <div class="card-block">
                        <h4 class="card-title">{% trans "Functional" %}</h4>
                        <p class="card-text">{% trans "Something doesn't work." %}</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-4">    
                    <div class="card cardbox">
                      <center><i class="fa fa-flash fa-3x"></i></center>
                      <div class="card-block">
                        <h4 class="card-title">{% trans "Performance" %}</h4>
                        <p class="card-text">{% trans "Anything over 5 seconds." %}</p>
                      </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-4">    
                    <div class="card cardbox">
                      <center><i class="fa fa-lock fa-3x"></i></center> 
                      <div class="card-block">
                        <h4 class="card-title">{% trans "Security" %}</h4>
                        <p class="card-text">{% trans "Data leaks, exploits or anything smelly." %}</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-4">    
                    <div class="card cardbox">
                      <center> <i class="fa fa-eraser fa-3x"></i></center>
                      <div class="card-block">
                        <h4 class="card-title">{% trans "Typo" %}</h4>
                        <p class="card-text">{% trans "Miss-spellings, miss-grammar and more." %}</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-4">    
                    <div class="card cardbox">
                      <center><i class="fa fa-code fa-3x"></i></center>
                      <div class="card-block">
                        <h4 class="card-title">{% trans "Design" %}</h4>
                        <p class="card-text">{% trans "Layout, responsiveness and improvements" %}</p>
                      </div>
                    </div>
                </div>        
            </div>  
            </center>
    </div>
    
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-sub-header">{% trans "Featured Websites" %}</h1>
                </div>
            </div>
            <div class="row" data-intro="These are the lists of featured websites on BugHeist." data-step="6">
                 {% for domain in domains %}
                    <div class="col-lg-6 col-md-6">
                        <div class="panel" id="hunt_{{domain.id}}" style="background-color:{{domain.get_color}}">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3  image_container">
                                        <img src="{{MEDIA_URL}}{{domain.logo}}" id="hunt_image{{domain.id}}"
                                        onerror="this.onerror=null; this.style.display='none';" height="75" width="75">
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{domain.get_name}}</div>
                                        <div>{% if domain.prize %}Grand Prize ${{domain.prize}}{% endif %}</div>
                                    </div>
                                </div>
                                <div class="row issue_count"><div class="col-xs-12 text-right">Issues <span><a href="/domain/{{domain.name}}/open">Open {{domain.open_issues.count}} </a></span><span><a href="/domain/{{domain.name}}/closed"> Closed {{domain.closed_issues.count}}</a></span></div></div>
                            </div>
                            <a href="{{domain.url}}" target="_new">
                                <div class="panel-footer">
                                    <span class="pull-left" id="hunt_link{{domain.id}}" style="color:{{domain.get_color}}">View Website</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right" id="hunt_icon{{domain.id}}" style="color:{{domain.get_color}}"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-lg-6 col-md-6">
                    <div class="panel owasp-panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3 image_container">
                                    <img src="https://www.owasp.org/images/thumb/2/2f/Owasp_logo_flat2_icon.jpg/100px-Owasp_logo_flat2_icon.jpg" width="75" height="75">
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">OWASP</div>
                                    <div>Grand Prize $100</div>
                                </div>
                            </div>
                            <div class="row issue_count"><div class="col-xs-12 text-right">Issues <span><a href="/domain/owasp.org/open">Open {{ open_issue_owasp }} </a></span><span><a href="/domain/owasp.org/closed"> Closed {{ closed_issue_owasp }}</a></span></div></div>
                        </div>
                        <a href="https://www.owasp.org/index.php/Bug_Bounty_Projects" target="_new">
                            <div class="panel-footer">
                                <span class="pull-left" style="color:#234082">View Website</span>
                                <span class="pull-right">
                                    <i class="fa fa-arrow-circle-right" style="color:#234082"></i>
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading page-sub-header">
                        {% now "F" %} {% trans "Leaderboard" %}
                    </div>
                    <div class="panel-body leaderboard-panel">
                        <strong>The 1st Place Hunter for  {% now "F" %} will receive</strong>
                            <div class="box">
                                <strong>$?? from [ Your Website Here ]</strong>
                                <form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post" style="display:inline;margin-bottom:10px;">
                                    <input type="hidden" name="cmd" value="_xclick">
                                    <input type="hidden" name="business" value="coderbounty@gmail.com">
                                    <input type="hidden" name="item_name" value="Sponsor a Prize for the {% now "F" %} Leaderboard on Bugheist">
                                    <input type="hidden" name="currency_code" value="USD">
                                    <button type="submit" class="btn btn-danger btn-sm">Sponsor a Prize</button>
                                </form>
                            </div>
                        </div>

                        <div class="list-group">
                        {% if leaderboard %}
                            {% for leader in leaderboard %}
                                <div class="list-group-item">                                    
                                    {% if leader.socialaccount_set.all.0.get_avatar_url %}
                                        <img src="{{leader.socialaccount_set.all.0.get_avatar_url}}" width="50" height="50">
                                    {% else %}
                                        <img src="{% gravatar_url leader.email 50 %}">
                                    {% endif %}
                                    <a href="/profile/{{leader.username}}" class="text-capitalize leaderboard-name">{{leader.username}}</a>
                                    <span class="badge leaderboard-points">{{leader.total_score}} Points</span>
                                    <span class="label label-success leaderboard-rank">{{forloop.counter|ordinal}}</span>
                                </div>
                            {% endfor %}
                        {% else %}
                        </br> Leaderboard reset for {% now "F" %}. Be first to find issues!
                        {% endif %}
                    </div>
                    <a href="/leaderboard" class="btn btn-default btn-block submit_button">View All</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" data-intro="View latest activities here." data-step="7">
        <div class="col-lg-12">
            <h1 class="page-sub-header">Latest activity</h1>
        </div>
        <div class="list-group" >
            {% for activity in activities %}
                {% include '_activity.html' %}
            {% endfor %}
        </div>
        <a href="/all_activity" class="btn btn-default btn-block submit_button">View All Activity</a>
    </div>
    <div class="row">
        <div class="col-lg-12">    
            <h1 class="page-sub-header">Subscriptions:</h1>
        </div>
    </div>
    {% include '_subscriptions.html' %}
{% endblock %}
