{% extends "base.html" %}
{% load staticfiles %}
{% load gravatar %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}Bug on {{object.domain_title}} - {{object.description}}{% endblock %}
{% block og_title %}Bug on {{object.domain_title}}{% endblock %}
{% block og_image %}{{object.screenshot.url}}{% endblock %}
{% block og_description %}{{object.description}}{% endblock %}
{% block description %}{{object.description}}{% endblock %}

{% block style %}
.form-group {margin-top: 10px;}
{% endblock %}

{% block content %}    
    <div class="row text-center">
        <h2>Editing Issue #{{issue.pk}}</h2>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <strong>Domain:</strong>
            <a href="{{object.url}}" target="_new">{{object.url}}</a>
            <form role="form" action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>Description of the bug</label>
                    <textarea data-required="true" class="form-control required" rows="3" placeholder="I found a bug on a site."  id="description" name="description">{{form.description.value|default:""}}</textarea>
                    {% if form.description.errors %}
                    <label id="description-error" class="error" for="description">
                        {{form.description.errors}}
                    </label>
                    {% endif %}
                </div>
                <strong>Bug Type:</strong>
                <div class="form-group">{{form.label}}</div>
                <div class="form-group">
                    <label>Screenshot</label><br>
                    <img src="{{form.instance.screenshot.url}}" class="img-responsive img-thumbnail">
                    {% if form.screenshot.errors %}
                    <label id="description-error" class="error" for="description">
                        {{form.screenshot.errors}}
                    </label>
                    {% endif %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
