{% extends "base.html" %}
{% load static %}
{% block title %}
    Global Leaderboard
{% endblock title %}
{% block description %}
    Check out the top performers on the global leaderboard. View scores, usernames, and their achievements from around the world.
{% endblock description %}
{% block keywords %}
    Global Leaderboard, Top Performers, Scores, Usernames, Achievements, Worldwide Rankings
{% endblock keywords %}
{% block og_title %}
    Global Leaderboard - Top Performers and Achievements Worldwide
{% endblock og_title %}
{% block og_description %}
    Explore the global leaderboard to see the top performers from around the world. View scores, usernames, and their achievements.
{% endblock og_description %}
{% load gravatar %}
{% block content %}
    {% include "includes/sidenav.html" %}
    <div class="flex justify-center pb-4 row container-min-height">
        <div class="flex items-center justify-center col-lg-12">
            <h1 class="page-header">Global Leaderboard</h1>
        </div>
    </div>
    <div class="flex flex-col gap-2 px-4 md:gap-10 md:px-0">
        <div class="flex flex-wrap justify-center gap-6">
            <div class=" flex-1  border-2 border-gray-300 pb-3 rounded-b-lg flex-1 min-w-[300px] max-w-[550px]">
                <div class="py-4 text-3xl font-bold text-center border-2 border-red-500 rounded-t-lg">Points Leaderboard</div>
                <div class="w-full p-4 list-group">
                    {% if not leaderboard %}
                        <p class="font-medium text-center text-red-500">No data for this month!</p>
                    {% else %}
                        <div class="flex flex-col gap-2">
                            {% for leader in leaderboard %}
                                <div class="flex items-center justify-between ">
                                    <div class="flex items-center gap-2 truncate">
                                        {% if leader.userprofile.avatar %}
                                            <img src="{{ leader.userprofile.avatar }}"
                                                 class="border border-gray-200 rounded-full select-none size-11"
                                                 alt="{{ leader.username }}"
                                                 width="50px"
                                                 height="50px">
                                        {% elif leader.socialaccount_set.all.0.get_avatar_url %}
                                            <img src="{{ leader.socialaccount_set.all.0.get_avatar_url }}"
                                                 class="border border-gray-200 rounded-full select-none size-11"
                                                 alt="username"
                                                 width="50px"
                                                 height="50px">
                                        {% else %}
                                            <img src="{% gravatar_url leader.email 50 %}"
                                                 class="border border-gray-200 rounded-full select-none size-11"
                                                 alt="username"
                                                 width="50px"
                                                 height="50px">
                                        {% endif %}
                                        {% if leader.username %}
                                            <a href="{% url 'profile' slug=leader.username %}"
                                               class="text-lg transition-all duration-200">{{ leader.username }}</a>
                                        {% else %}
                                            <span class="text-lg transition-all duration-200">{{ leader.username|default:"Unknown" }}</span>
                                        {% endif %}
                                        <span>
                                            <kbd class="py-1 px-2 select-none rounded-md {% if leader.userprofile.get_title_display|lower == 'silver' %}bg-gray-400 text-gray-800{% elif leader.userprofile.get_title_display|lower == 'gold' %}bg-yellow-600 text-gray-800{% elif leader.userprofile.get_title_display|lower == 'bronze' %}bg-orange-700 text-white{% elif leader.userprofile.get_title_display|lower == 'platinum' %}bg-gray-200 text-gray-800{% elif leader.userprofile.get_title_display|lower == 'unrated' %}bg-black text-white{% endif %}">
                                                {{ leader.userprofile.get_title_display }}
                                            </kbd>
                                        </span>
                                        {% if leader.userprofile.winnings %}
                                            <span class="px-2 py-1 select-none pull-right badge">${{ leader.userprofile.winnings|default:""|floatformat }}</span>
                                        {% endif %}
                                    </div>
                                    <span class="flex-shrink-0 px-2 py-1 bg-gray-100 rounded-md select-none pull-right badge">{{ leader.total_score }} Points</span>
                                </div>
                                <div class="my-1 border-t border-gray-200"></div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class=" flex-1 border-2 border-gray-300 pb-3 rounded-b-lg flex-1 min-w-[300px] max-w-[550px]">
                <div class="py-4 text-3xl font-bold text-center border-2 border-red-500 rounded-t-lg ">Pull Request Leaderboard</div>
                <div class="w-full p-4 list-group">
                    {% if pr_leaderboard %}
                        <div class="flex flex-col gap-2">
                            {% for leader in pr_leaderboard %}
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center gap-2 truncate">
                                        {% if leader.user_profile__github_url %}
                                            <img src="https://github.com/{{ leader.user_profile__user__username }}.png"
                                                 class="border border-gray-200 rounded-full select-none size-11"
                                                 alt="{{ leader.user_profile__user__username }}"
                                                 width="50px"
                                                 height="50px">
                                        {% else %}
                                            <img src="{% gravatar_url leader.user_profile__user__email 50 %}"
                                                 class="border border-gray-200 rounded-full select-none size-11"
                                                 alt="username"
                                                 width="50px"
                                                 height="50px">
                                        {% endif %}
                                        {% if leader.user_profile__user__username %}
                                            <a href="{% url 'profile' slug=leader.user_profile__user__username %}"
                                               class="text-lg transition-all duration-200">{{ leader.user_profile__user__username }}</a>
                                        {% else %}
                                            <span class="text-lg transition-all duration-200">{{ leader.user_profile__user__email|default:"Unknown User" }}</span>
                                        {% endif %}
                                        <a href="{{ leader.user_profile__github_url }}"
                                           target="_blank"
                                           class="ml-2">
                                            <i class="text-xl fab fa-github"></i>
                                        </a>
                                    </div>
                                    <span class="flex-shrink-0 px-2 py-1 bg-gray-100 rounded-md select-none pull-right badge">{{ leader.total_prs }} PRs</span>
                                </div>
                                <div class="my-1 border-t border-gray-200"></div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="font-medium text-center text-red-500">No pull request data available!</p>
                    {% endif %}
                </div>
            </div>
            <div class=" flex-1 border-2 border-gray-300 pb-3 rounded-b-lg flex-1 min-w-[300px] max-w-[550px]">
                <div class="py-4 text-3xl font-bold text-center border-2 border-red-500 rounded-t-lg">Code Review Leaderboard</div>
                <div class="p-4 list-group">
                    {% if code_review_leaderboard %}
                        <div class="flex flex-col gap-2">
                            {% for leader in code_review_leaderboard %}
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center gap-2 truncate">
                                        {% if leader.reviewer__user__username %}
                                            <img src="https://github.com/{{ leader.reviewer__user__username }}.png"
                                                 class="border border-gray-200 rounded-full select-none size-11"
                                                 alt="{{ leader.reviewer__user__username }}"
                                                 width="50px"
                                                 height="50px">
                                        {% else %}
                                            <img src="{% gravatar_url leader.reviewer__user__username 50 %}"
                                                 class="border border-gray-200 rounded-full select-none size-11"
                                                 alt="username"
                                                 width="50px"
                                                 height="50px">
                                        {% endif %}
                                        <a href="{% url 'profile' slug=leader.reviewer__user__username %}"
                                           class="text-lg transition-all duration-200">
                                            {{ leader.reviewer__user__username }}
                                        </a>
                                        <a href="https://github.com/{{ leader.reviewer__user__username }}"
                                           target="_blank"
                                           class="ml-2">
                                            <i class="text-xl fab fa-github"></i>
                                        </a>
                                    </div>
                                    <span class="flex-shrink-0 px-2 py-1 bg-gray-100 rounded-md select-none pull-right badge">Reviews: {{ leader.total_reviews }}</span>
                                </div>
                                <div class="my-1 border-t border-gray-200"></div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="font-medium text-center text-red-500">No code review data available!</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="flex flex-wrap justify-center gap-6">
            <div class="flex-1 border-2 border-gray-300 pb-3 rounded-b-lg flex-1 min-w-[300px] max-w-[550px]">
                <div class="py-4 text-3xl font-bold text-center border-2 border-red-500 rounded-t-lg">Top Visitors</div>
                <div class="w-full p-4 list-group">
                    {% if top_visitors %}
                        <div class="flex flex-col gap-2">
                            {% for profile in top_visitors %}
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center gap-2 truncate">
                                        {% if profile.avatar %}
                                            <img src="{{ profile.avatar }}"
                                                 class="border border-gray-200 rounded-full select-none size-11"
                                                 alt="{{ profile.user.username }}"
                                                 width="50px"
                                                 height="50px">
                                        {% else %}
                                            <img src="{% gravatar_url profile.user.email 50 %}"
                                                 class="border border-gray-200 rounded-full select-none size-11"
                                                 alt="{{ profile.user.username }}"
                                                 width="50px"
                                                 height="50px">
                                        {% endif %}
                                        <a href="{% url 'profile' profile.user.username %}"
                                           class="text-lg transition-all duration-200">{{ profile.user.username }}</a>
                                    </div>
                                    <div class="flex flex-col items-end text-sm text-right">
                                        <span class="px-2 py-1 bg-gray-100 rounded-md select-none badge">{{ profile.daily_visit_count }} visits</span>
                                        <span class="text-xs text-gray-500">Last Visit: {{ profile.last_visit_day|default:"Never" }}</span>
                                    </div>
                                </div>
                                <div class="my-1 border-t border-gray-200"></div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="font-medium text-center text-red-500">No visitor data available!</p>
                    {% endif %}
                </div>
            </div>
            <div class=" flex-1 border-2 border-gray-300 pb-3 rounded-b-lg flex-1 min-w-[300px] max-w-[550px]">
                <div class="py-4 text-3xl font-bold text-center border-2 border-red-500 rounded-t-lg">Issue Bounties</div>
                <div class="w-full p-4 list-group">
                    {% if not issue_bounties %}
                        <p class="font-medium text-center text-red-500">No issue bounties data available!</p>
                    {% else %}
                    {% endif %}
                </div>
            </div>
            <div class=" flex-1  border-2 border-gray-300 pb-3 rounded-b-lg flex-1 min-w-[300px] max-w-[550px]">
                <div class="py-4 text-3xl font-bold text-center border-2 border-red-500 rounded-t-lg">Bug Bounties</div>
                <div class="w-full p-4 list-group">
                    {% if not bug_bounties %}
                        <p class="font-medium text-center text-red-500">No bug bounties data available!</p>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
