<h1>About BugHeist</h1>
<p>Software code allows us to buy a gift for Mom or Dad on amazon.com in 7 seconds, watch our favorite
    “House of Cards” episode on Netflix or read Yelp reviews about a new restaurant.</p>

<p>When we can’t access the information we’re looking for on the internet within seconds, <i>we are not
        happy.</i>
<p>

<p>This is where you come into the picture.</p>

<p>BugHeist wants you to identify the software (and hardware) bugs that delay downloads, freeze screens,
    create payloads that deliver malware to websites and generate other issues.</p>

<h2><strong>What’s in it for you?</strong></h2>
<ul>
    <li>Points.</li>
    <li>Money if you join a BugHeist Sponsored Bug Hunt.</li>
    <li>Jackpot money listed on the Leaderboard.</li>
    <li>Money if someone tips you for finding a bug through the tip button.</li>
    <li>Experience to add to your résumé or portfolio.</li>
</ul>

<h3><strong>How it Works</strong></h3>

<h4><strong>Testers</strong></h4>
<ol>
    <li>Create a User Account to log into BugHeist.</li>
    <li>Describe the software or hardware bug you found.</li>
    <li>Attach a screenshot of the bug.</li>
    <li>Submit the information.</li>
    <li>Win money through company-sponsored Bug Hunts, tips or the Grand Prize/Jackpot.We may also have
        "heists" where each bug is worth a specific amount based on what the company sets.
    </li>
    <li>If you participate in BugHeist’s sponsored Bug Hunts, you could win prize money known as tips.</li>
</ol>

<h4><strong>Organizations</strong></h4>

We want everyone to love your website.
<p>You want to keep your customers happy by giving them a consistent bug-free user experience. BugHeist
    offers monthly Bug Hunts through 4 different subscription plans to help you achieve this.</p>