{% load custom_tags %}
<h1 class="text-4xl sm:text-5xl lg:text-6xl my-5">Privacy Policy</h1>
<p class="mb-5">
    We want to make sure you, as a Customer or Finder, understand what information we collect from you and why. We also
    want you to know about our information use practices so that you can make good decisions about how you use {% env 'PROJECT_NAME' %}.
</p>
<p class="mb-5">
    This Privacy Policy explains what information we collect from and about you, (collectively, "Your Information") and
    what we do with it.
</p>
<p class="mb-5">Please read this Privacy Policy carefully.</p>
<h2 class="text-3xl sm:text-4xl lg:text-5xl tracking-tighter my-5 ">
    <strong>Information Collection</strong>
</h2>
<ul class="list-disc ml-14">
    <li>
        <b>Direct Collection</b>
    </li>
    <ul class="list-[circle] ml-16">
        <li>
            When you create an account with {% env 'PROJECT_NAME' %}, you are required to provide us with profile information, including
            your name, company name (if applicable), username, password, and email address. {% env 'PROJECT_NAME' %} stores this
            information to help identify you when you log in.
        </li>
        <li>
            Information regarding website issues/bugs, which are reported by the users/members of the {% env 'PROJECT_NAME' %} community
            .
        </li>
    </ul>
    <li>
        <b>Indirect Collection</b>
    </li>
    <ul class="list-[circle] ml-16">
        <li>
            We receive some information automatically when you visit {% env 'PROJECT_NAME' %}. This includes information about the
            device, browser, and operating system you use when accessing our site and Services and your IP address. If
            you visit {% env 'PROJECT_NAME' %} when you are logged into your account, we also collect the user identification number we
            assign you when you open your account.
        </li>
    </ul>
    <li>
        <b>Cookie Policy</b>
    </li>
    <ul class="list-[circle] ml-16">
        <li>
            When you log in to your account, {% env 'PROJECT_NAME' %} will place cookie(s) for the purpose of creating the session,
            knowing when you're logged in, and recognizing you as the same authenticated user across accounts. These
            cookie(s) contain an encrypted user identifier.
        </li>
    </ul>
</ul>
