{% extends "base_dashboard.html" %}

{% load static %}
{% load tz_detect %}
{% load static %}
{% load custom_tags %}

{% block title %}
    Edit Domain - {% env 'PROJECT_NAME' %}

{% endblock title %}

{% block description %}
    Edit the details of your domain on {% env 'PROJECT_NAME' %}. Update the name, website URL, logo, email address, and more.

{% endblock description %}

{% block keywords %}
    {% env 'PROJECT_NAME' %}, domain, edit, update, website, logo, email

{% endblock keywords %}

{% block og_title %}
    Edit Domain - {% env 'PROJECT_NAME' %}

{% endblock og_title %}

{% block og_description %}
    Edit the details of your domain on {% env 'PROJECT_NAME' %}. Update domain name, URL, logo, email, and more.

{% endblock og_description %}

{% block content %}
    <section>
        {% include "includes/organization_sidenav.html" %}

    </section>
    <div class="fixed bottom-2.5 right-3.5">
        <a href="https://github.com/OWASP-BLT/BLT/blob/main/website/templates/organization_dashboard_domain_detail.html"
           class="text-gray-700 hover:text-gray-900">
            <i class="fab fa-github text-2xl"></i>
        </a>
        <a href="https://www.figma.com/file/s0xuxeU6O2guoWEfA9OElZ/Design?node-id=3%3A76&t=pqxWpF3hcYxjEDrs-1"
           class="text-gray-700 hover:text-gray-900 ml-2">
            <i class="fab fa-figma text-2xl"></i>
        </a>
    </div>
    <div>
        <div class="col_3">
            <form id="add-or-update-domain">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Edit Domain</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" value="{{ domain.pk }}" />
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text"
                                   name="name"
                                   required
                                   class="form-control"
                                   id="name"
                                   value="{{ domain.name }}">
                        </div>
                        <div class="form-group">
                            <label for="url">Website:</label>
                            <input disabled=""
                                   type="url"
                                   name="url"
                                   class="form-control"
                                   id="url"
                                   value="{{ domain.url }}">
                        </div>
                        <div class="form-group">
                            <label for="logo">Logo:</label>
                            <input type="file" name="logo" class="form-control" id="logo">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email"
                                   name="email"
                                   required
                                   class="form-control"
                                   id="email"
                                   value="{{ domain.email }}">
                        </div>
                        <div class="form-group">
                            <label for="github">Github:</label>
                            <input type="url"
                                   name="github"
                                   class="form-control"
                                   id="github"
                                   value="{{ domain.github }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit"
                               class="btn btn-primary btn_5 btn-lg btn-danger role-submit-button"
                               value="Change" />
                        <input type="reset"
                               data-dismiss="modal"
                               class="btn btn-primary btn_5 btn-lg btn-danger role-submit-button"
                               value="Reset" />
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
    {% tz_detect %}

{% endblock content %}
