{% extends "base.html" %}
{% load gravatar %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h1 class="page-header">{{ user.username }}</h1>
            {% if user.userprofile.avatar %}
                <img src="{{ user.userprofile.avatar }}" width="150" height="150">
            {% else %}
                {% gravatar user.email 150 %}
            {% endif %}
            {% if request.user == user %}
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ profile_form.user_avatar }}
                    <button type="submit" class="btn btn-primary btn-small" style="margin-top: 10px;">change photo</button>
                </form>
            {% endif %}
            <h1> {{ my_score|default:0 }} points</h1>
            <form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="{{ project.paypal|default:"coderbounty@gmail.com" }}">
                <input type="hidden" name="item_name" value="tip for {{ user.username }} on bugheist.com">
                <input type="hidden" name="currency_code" value="USD">
                <button type="submit" class="btn btn-danger btn-small">
                    <i class="fa fa-money fa-lg" style="margin-right:5px;"></i> send a tip
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ user.username }}'s activity
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for activity in activities %}
                            {% include '_activity.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ user.username }}'s top bug findings
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for website in websites %}
                            <div class="list-group-item">
                                <a href="/domain/{{ website.name }}">
                                    <img src="http://www.{{ website.name }}/favicon.ico" height="25"
                                         onerror="this.onerror=null; this.style.display ='none';">
                                </a>
                                <a href="/domain/{{ website.name }}" style="margin-left:5px;">{{ website.name }}</a>
                                <span class="pull-right text-muted small"><em> {{ website.total }} bug{{ website.total|pluralize }}</em>
								</span>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}