{% extends "base.html" %}
{% load staticfiles %}
{% load gravatar %}
{% load socialaccount %}
{% load humanize %}
{% providers_media_js %}

{% block style %}
    .duplicates {
        position: absolute;
        left: 600px;
        top: 0px;
        width: 160px;
    }
    .message {
        position: absolute;
        left: 600px;
        top: 30px;
        width: 100%;
    }
{% endblock %}

{% block content %}
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static 'js/activity.js' %}"></script>
    <form action="/issue/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <h1 class="page-header">Report a bug</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group{% if form.url.errors %} has-error{% endif %}">
                    {% if request.GET.url %}
                        <input class="form-control required" data-intro="Enter the website's complete url where you found the bug." data-step="1"  placeholder="www.testsite.com/bug-found" name="url" value="{{request.GET.url}}">
                    {% else %}
                        <input class="form-control required" data-intro="Enter the website's complete url where you found the bug." data-step="1" placeholder="www.testsite.com/bug-found" name="url" value="{{form.url.value|default:""}}">
                    {% endif %}
                    <a class="btn btn-default duplicates">Check for Duplicates</a>
                    <span class="message"></span>
                    <span class="help-block">{{ form.url.errors }}</span>
                </div>
                <div class="form-group{% if form.description.errors %} has-error{% endif %}">
                    <textarea data-required="true" name="description" id="description" data-intro="Describe the nature of bug." data-step="2" class="form-control required" rows="3" placeholder="Describe bug issue">{{form.description.value|default:""}}</textarea>
                    <span class="help-block">{{ form.description.errors }}</span>
                </div>
                <select data-intro="Categorize the bug." data-step="3" name="label" class="form-control">
                    <option value="0" selected="selected">Bug Type</option>
                    <option value="1">Number error</option>
                    <option value="2">Functional</option>
                    <option value="3">Performance</option>
                    <option value="4">Security</option>
                    <option value="5">Typo</option>
                    <option value="6">Design</option>
                </select>
                <div class="form-group{% if form.screenshot.errors %} has-error{% endif %}">
                {% if request.GET.hash %}</br>
                    <img src="{{ MEDIA_URL }}uploads/{{request.GET.hash}}.png" class="img-responsive img-thumbnail screenshot-hash">
                    <input type="hidden" class="required" name="screenshot-hash" value="{{request.GET.hash}}">
                {% else %}
                    <br>
                    <span>
                        <input type="file" class="required" id='${multipartFilePath}' name="screenshot"/> 
                        <button class="btn btn-primary" data-intro="Upload a screenshot of the concerned page." data-step="4" name="test_files" type="button">
                            <i class="fa fa-upload" aria-hidden="true"></i> Upload Screenshot
                        </button>
                        <span class="badge badge-important"></span>
                    </span>
                {% endif %}
                <span class="help-block{% if form.screenshot.errors %} has-error{% endif %}">{{ form.screenshot.errors }}</span>
                </div>
                <button type="submit" name="reportbug_button" id="btn" class="btn btn-default" data-intro="Click here to report the bug to BugHeist." data-step="5">
                Report Bug <i class="fa fa-trophy" aria-hidden="true">+3</i>
                </button>
            </div>
        </div> 
    </form>
    <script type="text/javascript">
        $(function() {
            $('button[name="test_files"]').on('click', function() {
                $(this).parent().find('input[type=file]').click();
            });
            $('input[name="screenshot"]').on('change', function() {
                var file = $(this).val().replace('C:\\fakepath\\', '');
                $(this).parent().find('span').html(file);
            });        
    
            $(".duplicates").click(function(){
                var uri = $("input[name='url']").val();
                $.ajax({
                    type : "POST",
                    data : { dom_url: uri },
                    url : "/domain_check/",
                    success: function(response){
                        var link = "www.bugheist.com/domain/" + uri;
                        if (response == "There are no bugs on this domain")
                            $('.message').text("Sweet! We haven't got any bug from this domain till now");
                        else
                            $('.message').text("Bugs already exist on this domain, ensure you are not submitting a duplicate bug by going here: " + link);
                    },
                    error: function(response){
                        $('.message').text('Something went wrong!');
                    },
                });
            });
        });
    </script>
{% endblock %}
