{% extends "base.html" %}
{% load gravatar %}
{% load static %}
{% block title %}
    Domain Scoreboard
{% endblock title %}
{% block description %}
    Track and compare domain performance. View open and closed issues, email events, and the top tester for each domain to monitor activity and engagement.
{% endblock description %}
{% block keywords %}
    Domain Scoreboard, Track Domain Performance, Open Issues, Closed Issues, Email Events, Top Tester
{% endblock keywords %}
{% block og_title %}
    Domain Scoreboard - Monitor Domain Performance
{% endblock og_title %}
{% block og_description %}
    Access the domain scoreboard to track and compare domain performance. View details on open and closed issues, email events, and the top tester for each domain.
{% endblock og_description %}
{% block og_image %}
    {% static 'company/images/domain-scoreboard-og-image.png' %}
{% endblock og_image %}
{% load humanize %}
{% block style %}
    {% include "includes/sidenav.html" %}
    <style>
    .alt-img {
        padding-top: 25px;
        width: 75px;
        filter: blur(2px);
        -webkit-filter: blur(2px);
        display: none;
    }

    .table td,
    .table th {
        text-align: center;
        vertical-align: middle !important;
    }

    .table a {
        text-decoration: none;
    }

    thead {
        background: #73DC69;
        color: white;
    }
    .bottom-right {
        position: absolute;
        bottom: 10px;
        right: 15px;
}
    </style>
{% endblock style %}
{% block content %}
    <div class="bottom-right">
        <a href="https://github.com/OWASP-BLT/BLT/blob/main/website/templates/scoreboard.html">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.figma.com/file/s0xuxeU6O2guoWEfA9OElZ/Design?node-id=1307%3A653&t=pqxWpF3hcYxjEDrs-1">
            <i class="fab fa-figma"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2 class="page-header">Domain Scoreboard</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <table id="keywords"
                   class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>
                            <a href="?sort_by=domain_name&sort_order={% if sort_by == 'domain_name' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Domain Name</a>
                        </th>
                        <th>
                            <a href="?sort_by=open_issues_count&sort_order={% if sort_by == 'open_issues_count' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Open Issues</a>
                        </th>
                        <th>
                            <a href="?sort_by=closed_issues_count&sort_order={% if sort_by == 'closed_issues_count' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Closed Issues</a>
                        </th>
                        <th>
                            <a href="?sort_by=email_event&sort_order={% if sort_by == 'email_event' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Email Event</a>
                        </th>
                        <th>
                            <a href="?sort_by=modified&sort_order={% if sort_by == 'modified' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Time of Last Event</a>
                        </th>
                        <th>
                            <a href="?sort_by=top_tester&sort_order={% if sort_by == 'top_tester' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Top Domain Tester</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for domain in scoreboard %}
                        <tr>
                            <td height="80px">
                                <a href="{% url 'domain' slug=domain.name %}">
                                    <img src="{{ domain.get_logo }}"
                                         alt="{{ domain.name }}"
                                         onerror="this.onerror=null; this.style.display='none';this.parentNode.childNodes[3].style.display='block';"
                                         width="80px"
                                         height="80px">
                                    <img src="https://www.google.com/s2/favicons?sz=80&domain_url={{ domain.name }}"
                                         class="alt-img"
                                         alt="{{ domain.name }}"
                                         width="80px"
                                         height="80px">
                                </a>
                            </td>
                            <td>{{ domain }}</td>
                            <td>{{ domain.open_issues|length }}</td>
                            <td>{{ domain.closed_issues|length }}</td>
                            <td>{{ domain.email_event }}</td>
                            <td>{{ domain.modified|timesince }} ago</td>
                            <td>
                                <a href="{% url 'profile' slug=domain.top_tester %}">{{ domain.top_tester|default:"" }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div>
        {% if is_paginated %}
            <div class="col-md-12">
                <div class="text-center">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}{% if user %}&user={{ user }}{% endif %}"
                           class="btn btn-default">Prev</a>
                    {% endif %}
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% if user %}&user={{ user }}{% endif %}"
                           class="btn btn-default">Next</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
