{% extends "base.html" %}
{% load custom_tags %}
{% load i18n %}
{% load static %}
{% block title %}
    Social Feeds
{% endblock title %}
{% block description %}
    Stay updated with our social feeds. Follow our latest tweets, GitHub updates, and Figma designs to stay connected with our community.
{% endblock description %}
{% block keywords %}
    Social Feeds, Twitter Timeline, GitHub Updates, Figma Designs, Community Updates, Stay Connected
{% endblock keywords %}
{% block og_title %}
    Social Feeds - Stay Connected with Us
{% endblock og_title %}
{% block og_description %}
    Follow our social feeds to stay updated with the latest tweets, GitHub updates, and Figma designs. Engage with our community and stay informed.
{% endblock og_description %}
{% block content %}
    {% include "includes/sidenav.html" %}
    <style>
        .bottom-right {
                position: absolute;
                bottom: 10px;
                right: 15px;
        }
    </style>
    <div class="row">
        <div class="col-lg-12">
            <a class="twitter-timeline"
               data-height="800"
               href="{% env 'TWITTER_URL' %}"
               rel="noopener noreferrer"></a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <div class="bottom-right">
        <a href="https://github.com/OWASP-BLT/BLT/blob/main/website/templates/social.html">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.figma.com/file/s0xuxeU6O2guoWEfA9OElZ/Design?node-id=472%3A147&t=pqxWpF3hcYxjEDrs-1">
            <i class="fab fa-figma"></i>
        </a>
    </div>
{% endblock content %}
