{% extends "base.html" %}
{% block content %}
    {% include "includes/sidenav.html" %}
        <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        #submit_pr{
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        #issue_link,
        #user,#bid_amount {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        #fetch,#submit {
            padding: 8px 15px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        #BidDisplay {
            margin-bottom: 10px;
        }
        #pr_link{
            display: none;
        }
        #Link_bid {
            text-align: center;
            margin-top: 20px;
        }

        #Link_bid a {
            display: inline-block;
            padding: 10px 20px;
            border-radius: 5px;
            background-color:  #e53e3e; 
            color: #000;
            text-decoration: none;
        }

        </style>
    </head>
    <body>
        <script>
        function fetchData(){
            const issueUrl = document.getElementById('issue_link').value;
            const csrftoken = getCookie('csrftoken');
            fetch(`/fetch-current-bid/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ issue_url: issueUrl }),
            })
            .then(response => response.json())
            .then(data => {
                if('current_bid' in data) {
                    const currentBid = data.current_bid;
                    const date = data.date;
                    const user = data.user;
                    const status = data.status;
                    if(status === "Selected") { 
                        document.getElementById('pr_link').style.display = "block";
                    }
                    else if (status === "Submitted") {
                        document.getElementById('pr_label').textContent="PR is submitted , Please contact your repository head ";
                    }
                    else{
                        document.getElementById('pr_link').style.display = "none";
                        document.getElementById('pr_label').textContent="Bid is not selected : Status is Open/Closed";
                    }
                    document.getElementById('user').value = user;
                    document.getElementById('bid_amount').value = currentBid;
                    document.getElementById('BidDisplay').innerHTML = `User: ${user} <br> CurrentBid: ${currentBid} <br> Bid Date: ${date} <br> Status: ${status}`;
                }
                else{
                    document.getElementById('BidDisplay').innerHTML = 'No current bid';
                }
            })
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        </script>
        <form id ="submit_pr"action="{% url 'submit_pr' %}" method="post">
            {% csrf_token %}
            <label>Issue Link</label>
            <input type="text" name="issue_link" id="issue_link">
            <button id="fetch" type="button" onclick="fetchData()">Fetch data</button>
            <p id="BidDisplay"></p>
            <input type="hidden" name="user" id="user">
            <input type="hidden" name="bid_amount" id="bid_amount">
            <label id="pr_label">Link to your Pull Request</label>
            <input type="text" name="pr_link" id="pr_link" required>
            <button type="submit" id="submit">Submit</button>
        </form>
        <div id ="Link_bid">
            <a href="{% url 'BiddingData' %}">Place a Bid</a>
        </div>
{% endblock content %}
