{% extends "base.html" %}
{% load static %}
{% block title %}
    trademarks
{% endblock title %}
{% block content %}
    {% include "includes/sidenav.html" %}
    <style>
    #query{
        position: relative;
        background-color: #E4E4E4;
        border-style: outset;
        border-radius: 40px;
    }
    .search_input{
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
    }
    .search_input:focus{
        outline: none;
        border-color: #f2f2f2; /* Change border color on focus */
    }
    #search_button{
        background-color: #FF4D4D;
        border-radius: 30px;
        font-size: medium;
        font-weight: bold;
        color: #f2f2f2;
    }
    #search_button:hover{
        outline: none;
        border-color: #f2f2f2; /* Change border color on focus */
        box-shadow: 0 0 5px #e93232; /* Add a shadow on focus */
    }

    .tm-wrapper{
        position: relative;
        background-color: #FFFFFF;
        font-weight: 200;
        font-style: normal;
    }
    .tm-wrapper p{
        font-size: 13px;
        opacity: 60%;
    }

    </style>
    <div class="h-[calc(100vh-72px)] flex items-center">
    <div class="tm-wrapper flex flex-col gap-4 lg:gap-12 h-screen w-screen sm:h-fit sm:w-5/6 sm:rounded-2xl sm:shadow-lg sm:mx-auto py-24 px-4 lg:px-24">
        <img class="trademark-logo w-full"
             alt="Trademark Search Image"
             src="{% static 'img/tm-search.png' %}">
        <form method="post" class="search-container flex flex-col gap-4 md:gap-6 lg:gap-8" role="search" id="form">
            {% csrf_token %}
            <input class="search_input"
                   type="search"
                   id="query"
                   class="w-full"
                   name="query"
                   placeholder="Search...">
            <button id="search_button" class="py-2 lg:py-4" type="submit">Search</button>
        </form>
        <p class="text-center pt-6">This data is fetched from United States Patent and Trademark Office</p>
    </div>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('form');
        var searchInput = document.getElementById('query'); // Corrected ID
        var searchButton = document.getElementById('search_button');
        
        form.addEventListener('submit', function(event) {
            if (searchInput.value.trim() === '') {
                event.preventDefault(); // Prevent the form from submitting
            }
        });
    });

    </script>
{% endblock content %}
