{% load gravatar %}

{% if request.user.is_authenticated %}
    <a class="btn btn-info btn-xs flag_unflag" name="{{ object.pk }}">
        <i class="fa fa-flag"></i> Flag {{ flags }}
    </a>
{% else %}
    <button class="btn btn-info btn-xs flag_unflag" disabled>
        <i class="fa fa-flag"></i> Flag {{ flags }}
    </button>
{% endif %}
<div id="flagedBy" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Flaged by:</h3>
                {% for usr in flagers %}
                    <div class="list-group-item">
                        {% if usr.user.socialaccount_set.all.0.get_avatar_url %}
                            <img src="{{ usr.user.socialaccount_set.all.0.get_avatar_url }}"
                                 height="50px"
                                 width="50px"
                                 alt="user avatar">
                        {% else %}
                            <img src="{% gravatar_url usr.user.email 50 %}"
                                 height="50px"
                                 width="50px"
                                 alt="user avatar">
                        {% endif %}
                        <a href="{% url 'profile' slug=usr.user.username %}">{{ usr.user.username }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
