{% load static %}
{% load i18n %}

<footer id="pageFooter" class="bg-black" > <!-- style="background: #010102; " -->
    <div class="w-full text-white">
        <div class="h-80 sm:h-60 md:h-48 flex flex-wrap justify-around items-center flex-row">
            <img style="width: 200px;" src="{% static 'img/logo_white.png' %}">
            <ul class="mx-5 flex gap-1 sm:gap-10 font-bold whitespace-nowrap flex-wrap flex-col sm:flex-row order-1 sm:order-none">
                <li><a href="/about" target="_new">{% trans "About" %}</a></li>
                <li><a href="/stats">{% trans "Stats" %}</a></li>
                <li><a href="/scoreboard" target="_new">{% trans "Company Scoreboard" %}</a></li>
                <li><a href="/terms">{% trans "Terms of Service" %}</a></li>
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select name="language" class="bg-transparent"
                        onchange='if(this.value != 0) { this.form.submit(); }'>
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}

                        {% if lang.0 == LANGUAGE_CODE %}
                        <option value="{{ lang.0 }}" selected="selected">{{ lang.1 }} ({{ lang.0 }})</option>
                        {% else %}
                        <option value="{{ lang.0 }}">{{ lang.1 }} ({{ lang.0 }})</option>
                        {% endif %}

                        {% endfor %}
                    </select>
                </form>
            </ul>
            <div class="social-networks text-5xl flex gap-8">
                <a href="http://twitter.com/bugheist" target="_new"><i class="fa fa-twitter"></i></a>
                <a href="http://facebook.com/bugheist" target="_new"><i class="fa fa-facebook"></i></a>
                <a href="http://github.com/bugheist/website" target="_new"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-blt bg-black"> <!-- style="background: #010102; " -->
        <p class="text-center">Powered by <a href="https://www.owasp.org/index.php/OWASP_Bug_Logging_Tool" target="_new">
            OWASP Bug Logging Tool
        </a></p>
    </div>
  
</footer>
