{% load static %}
{% load gravatar %}
{% load socialaccount %}
{% load user_score %}
{% providers_media_js %}
{% load i18n %}
{% load custom_tags %}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    a {
        color: black;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const desktopDropdownButton = document.getElementById('dropdownButton');
        const desktopDropdownMenu = document.getElementById('dropdownMenu');

        if (desktopDropdownButton && desktopDropdownMenu) {
            desktopDropdownButton.addEventListener('click', () => {
                desktopDropdownMenu.classList.toggle('hidden');
            });
            document.addEventListener('click', (e) => {
                if (!desktopDropdownButton.contains(e.target) && !desktopDropdownMenu.contains(e.target)) {
                    desktopDropdownMenu.classList.add('hidden');
                }
            });
        }

        const mobileDropdownButton = document.getElementById('dropdown-toggle-mobile');
        const mobileDropdownMenu = document.getElementById('dropdown-mobile');
        if (mobileDropdownButton && mobileDropdownMenu) {
            mobileDropdownButton.addEventListener('click', () => {
                mobileDropdownMenu.classList.toggle('hidden');
            });
            document.addEventListener('click', (e) => {
                if (!mobileDropdownButton.contains(e.target) && !mobileDropdownMenu.contains(e.target)) {
                    mobileDropdownMenu.classList.add('hidden');
                }
            });
        }
    });
</script>
<nav class="fixed top-0 z-50 w-full bg-white border-[#F7F7F7] border-b-2 px-4 ">
    <div class="px-3 py-1 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <!-- Ham Menu -->
                <button id="hamburger-button"
                        data-drawer-target="logo-sidebar"
                        data-drawer-toggle="logo-sidebar"
                        aria-controls="logo-sidebar"
                        type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <svg class="w-8 h-8"
                         aria-hidden="true"
                         fill="currentColor"
                         viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                        </path>
                    </svg>
                </button>
                <!-- Logo -->
                <a href="{% url 'index' %}"
                   class="flex flex-col ms-2 md:me-24 items-start">
                    <img src="{% logo 'TRANSPARENT' %}"
                         class="max-w-[100px] lg:max-w-[200px]"
                         alt="Bug Bounty Logo"
                         width="100%"
                         height="100%">
                    <p class="inline-block text-base lg:text-xl mb-0">{% trans "Report Issues, Win Prizes" %}</p>
                </a>
            </div>
            <!-- Search Bar  -->
            <div class="column items-center gap-[8px] overflow-clip flex lg:w-[auto] lg:h-[auto]">
                <form class="relative lg:!px-[34px] mb-0 flex items-center"
                      action="{% url 'search' %}"
                      method="get">
                    <i class="lg:!flex hidden fa fa-search absolute left-[13px] text-[#9CA3AF] z-10 my-auto"></i>
                    <input type="text"
                           name="query"
                           placeholder="Search"
                           class="text-xl lg:text-base lg:ps-9 lg:scale-[1.4] w-[70px] lg:w-auto h-16 placeholder-[#9CA3AF] bg-[#EDEDED] outline-none p-5 font-semibold rounded-xl">
                </form>
                <a href="{% url 'report' %}"
                   class="flex lg:hidden ml-5 h-[38px] border border-black rounded-3xl p-2 shadow">
                    <img src="{% static 'images/report_issue.png' %}"
                         class="w-[25px] h-[28px] lg:max-w-[200px]"
                         alt="Report Issue Icon"
                         width="100%"
                         height="100%">
                </a>
                <a href="{% url 'report' %}"
                   class="lg:!inline-block hidden bg-red-500 hover:bg-red-600 h-[38px] py-[8px] px-[20px] whitespace-nowrap !text-2xl font-bold text-white leading-[21px] cursor-pointer hover:text-white hover:no-underline rounded-xl tracking-wide">
                    {% trans "Report an Issue" %}
                </a>
                <a href="{% url 'hunts' %}"
                   class="lg:!inline-block hidden bg-red-500 hover:bg-red-600 h-[38px] py-[8px] px-[20px] whitespace-nowrap !text-2xl font-bold text-white leading-[21px] cursor-pointer hover:text-white hover:no-underline rounded-xl tracking-wide">
                    {% trans "Bug Bounties" %}
                </a>
            </div>
            {% if request.user.is_authenticated %}
                <li class="h-[80px] flex justify-center items-center ">
                    <button id="dropdownButton"
                            class="relative flex items-center sm:gap-3 mr-[30px]"
                            type="button">
                        {% if request.user.userprofile.avatar %}
                            <img src="{{ request.user.userprofile.avatar }}"
                                 class="h-[30px] w-[30px] rounded-full "
                                 alt="User Avatar"
                                 width="30"
                                 height="30">
                        {% elif request.user.socialaccount_set.all.0.get_avatar_url %}
                            <img src="{{ request.user.socialaccount_set.all.0.get_avatar_url }}"
                                 class="h-[30px] w-[30px] rounded-full "
                                 alt="User Avatar"
                                 width="30"
                                 height="30">
                        {% else %}
                            {% gravatar request.user.email 30 '' 'gravatar rounded-full' %}
                        {% endif %}
                        <span class="absolute -right-[17px] -bottom-[25px] lg:-right-[25px] lg:-bottom-[25px] sm:static whitespace-nowrap"><span>{{ request.user.username }}</span> ({{ request.user|score|default:"0" }} Pts)
                        <i class="fa fa-caret-down text-red-500"></i>
                    </span>
                </button>
                <!-- Dropdown for User Avatar -->
                <div id="dropdownMenu"
                     class="z-50 hidden absolute bg-white top-32 right-5">
                    <ul class="flex flex-col gap-2 px-8 py-4 border shadow-xl rounded-lg left-auto">
                        <li>
                            <a href="{% url 'account_profile' %}">
                                <i class="fa fa-user fa-fw"></i> {% trans "User Profile" %}
                            </a>
                        </li>
                        <li>
                            <a href="{% env 'EXTENSION_URL' %}"
                               target="_new"
                               rel="noopener noreferrer">
                                <i class="fa fa-chrome fa-fw"></i>
                                {% trans "Add to chrome" %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'start_hunt' %}">
                                <i class="fa fa-play fa-fw"></i> {% trans "Start a Bug Hunt" %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'social' %}">
                                <i class="fa fa-share fa-fw"></i>
                                {% trans "Social" %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'account_change_password' %}">
                                <i class="fa fa-gear fa-fw"></i> {% trans "Change Password" %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'invite' %}">
                                <i class="fa fa-paper-plane fa-fw"></i> {% trans "Invite Friends" %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'company_view' %}">
                                <i class="fa fa-building fa-fw"></i> {% trans "Company Dashboard" %}
                            </a>
                        </li>
                        <!-- divider -->
                        <li class="border my-4 -mx-8"></li>
                        <li>
                            <a href="{% url 'account_logout' %}">
                                <i class="fa fa-sign-out fa-fw"></i> {% trans "Logout" %}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        {% else %}
            <!-- Sign up and Log in Buttons -->
            <div class="flex items-center h-[80px]">
                <div class="hidden lg:!flex h-[80px] justify-center items-center ">
                    <a href="{% url 'account_signup' %}"
                       class="h-[38px] px-[25px] py-[9px] bg-red-500 hover:bg-red-600 hover:no-underline text-white font-bold text-2xl mr-[20px] hover:text-white">
                    {% trans "Signup" %}</a>
                    <a href="{% url 'account_login' %}"
                       data-toggle="modal"
                       class="h-[38px] px-[25px] py-[9px] bg-red-500 hover:bg-red-600 hover:no-underline text-white font-bold text-2xl mr-[20px] hover:text-white">
                    {% trans "Login" %}</a>
                </div>
                <!-- Log in icon -->
                <a href="{% url 'account_login' %}" class="block lg:hidden m-2">
                    <i class="fa fa-user !text-5xl text-red-500"></i>
                </a>
            </div>
        {% endif %}
    </div>
</div>
</nav>
