{% load gravatar %}
{% load custom_tags %}
{% load static %}
<div class="border-l-2 border-[#584ac080] w-[27%] flex flex-col items-start max-sm:w-[100%]">
    <div class="h-[5vh]"></div>
    <div class="max-sm:ml-[3.45%] ml-[10%]">
        <h4 class="text-2xl font-bold mb-3">Event ID: {{ object.id }}</h4>
        <div class="flex justify-start items-center">
            <img class="w-[50px] rounded-full h-[50px] object-cover"
                 src="{% if object.user.username %} {% if object.user.userprofile.user_avatar %}{{ MEDIA_URL }}{{ object.user.userprofile.user_avatar }}{% else %}{% gravatar_url object.user.email 100 %}{% endif %}{% else %}{% static 'images/dummy-user.png' %}{% endif %}"
                 alt="User Profile Logo"
                 width="32px"
                 height="32px">
            <div class="ml-3">
                <div>
                    {% if object.user.username %}
                        <a href="{% url 'profile' slug=object.user.username %}"
                           class="!text-[#7e22ce] font-bold">{{ object.user.username }}</a>
                    {% else %}
                        Anonymous
                    {% endif %}
                </div>
                <div>
                    {% if object.user %}<span class="font-bold">Total Points =</span> {{ users_score }}{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="h-[2vh]"></div>
    {% include "./crypto_donation.html" with included_in_issue_page=True %}
    <div class="h-[2vh]"></div>
    <div class="max-sm:ml-[3.45%] ml-[10%]">
        <div class="flex justify-start items-center">
            <img class="w-[45px] rounded-full h-[45px] object-cover"
                 src="{{ object.domain.get_logo }}"
                 alt="User Profile Logo"
                 width="32px"
                 height="32px">
            <div class="ml-3">
                <div class="truncate hover:!text-black hover:underline">
                    <a class="hover:!text-black"
                       href="{% url 'domain' slug=object.domain.name %}">Reported on {{ object.domain.name }}</a>
                </div>
                <div>
                    Issues Reported: <span class="font-bold">{{ issue_count }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="h-[2vh]"></div>
    <div class="max-sm:ml-[3.45%] ml-[10%]">
        <div class="flex justify-start items-center">
            {% if browser_family %}
                {% with "img/browser-logos/"|add:browser_family|add:"/"|add:browser_family|add:"_64x64.png"|lower as image_static %}
                    <img class="w-[45px] h-[45px] rounded-full object-cover"
                         src="{% static image_static %}"
                         alt="Browser Image"
                         width="auto"
                         height="auto">
                {% endwith %}
            {% endif %}
            <div class="ml-3">
                <div>Browser Version: {{ browser_version }}</div>
                <div>
                    <span class="font-bold">Operating System</span> {{ os_family }}
                </div>
            </div>
        </div>
    </div>
    <div class="h-[2vh]"></div>
    {% include "./tiny-cards.html" with left="Added On" right=object.created %}
    <div class="h-[0.4vh]"></div>
    {% include "./tiny-cards.html" with left="Bug Type" right=object.get_label_display %}
    {% if object.cve_score %}
        {% include "./tiny-cards.html" with insideIFCondition=True left="CVE Score" right=object.cve_score %}
    {% endif %}
    {% if object.cve_id %}
        {% include "./tiny-cards.html" with insideIFCondition=True left="CVE ID" right=object.cve_id %}
    {% endif %}
    {% if object.hunt %}
        <a href="{% url 'show_Bug Bounty' object.hunt.id %}">
            {% include "./tiny-cards.html" with insideIFCondition=True left="Submitted" right=object.hunt.name %}
        </a>
    {% else %}
        {% include "./tiny-cards.html" with insideIFCondition=True left="Submitted" right="Independently" %}
    {% endif %}
    <div class="h-[0.4vh]"></div>
    {% if os_version %}
        {% include "./tiny-cards.html" with left="OS Version:" right=os_version %}
    {% else %}
        {% include "./tiny-cards.html" with left="OS Version:" right="Unknown" %}
    {% endif %}
    <div class="h-[0.4vh]"></div>
    {% if object.domain.github %}
        {% include "./tiny-cards.html" with left="Github URL:" right=object.domain.github link=object.domain.github %}
        <div class="h-[0.4vh]"></div>
        {% include "./tiny-cards.html" with left="Github Issues URL:" right=github_issues_url link=github_issues_url %}
    {% endif %}
    {% if email_clicks %}
        <div class="h-[0.4vh]"></div>
        {% include "./tiny-cards.html" with left="Email Clicks:" right=email_clicks %}
    {% endif %}
    {% if email_events %}
        <div class="h-[0.4vh]"></div>
        {% include "./tiny-cards.html" with left="Email Events:" right=email_events %}
    {% endif %}
    <div class="h-[2vh]"></div>
</div>

