<script src="https://cdn.tailwindcss.com"></script>
<div class="w-full h-full">
    <div class="w-full h-full bg-white rounded-lg  border border-gray-900/10 p-6">
        <h1 class="text-gray-800 text-2xl mb-4 font-semibold">BUG DESCRIPTION</h1>
        <div class="w-full flex flex-col items-center justify-between mb-4 md:flex-row md:justify-between">
            <div class="w-full flex justify-around  md:justify-start gap-1 ">
                <button id="boldButton"
                        type="button"
                        class="text-sm px-3 py-2 md:text-xl m-1 md:px-6 font-medium bg-gray-400 hover:bg-gray-500  transition-all duration-200 ease-in-out  text-white rounded-md">
                    Bold
                </button>
                <button id="italicButton"
                        type="button"
                        class="text-sm px-3 py-2 md:text-xl m-1 md:px-6 font-medium bg-gray-400 hover:bg-gray-500  transition-all duration-200 ease-in-out  text-white rounded-md">
                    Italic
                </button>
                <button id="imageButton"
                        type="button"
                        class="text-sm px-3 py-2 md:text-xl m-1 md:px-6 font-medium bg-gray-400 hover:bg-gray-500  transition-all duration-200 ease-in-out  text-white rounded-md">
                    Add Image
                </button>
                <button id="linkButton"
                        type="button"
                        class="text-sm px-3 py-2 md:text-xl m-1 md:px-6 font-medium bg-gray-400 hover:bg-gray-500  transition-all duration-200 ease-in-out  text-white rounded-md">
                    Add Link
                </button>
                <button id="previewButton"
                        type="button"
                        class="text-sm px-3 py-2 md:text-xl m-1 md:px-6 font-medium bg-red-500  hover:bg-red-600  transition-all duration-200 ease-in-out text-white rounded-md">
                    Preview
                </button>
                <button id="editButton"
                        type="button"
                        class="text-sm px-3 py-2 md:text-xl m-1 md:px-6 font-medium bg-red-500  hover:bg-red-600  text-white rounded-md hidden">
                    Edit
                </button>
            </div>
        </div>
        <div class="flex">
            <textarea id="markdownInput"
                      name="markdown_description"
                      class="flex-1 h-[200px] bg-gray-100 text-xl placeholder:text-xl resize-none border border-gray-300 rounded-md p-5"
                      placeholder="Enter your markdown here...">{{ form.markdown_description.value|default:'' }}</textarea>
            <div id="previewContainer"
                 class="h-[200px] flex-1 bg-white rounded-md p-4 hidden">
                <div id="markdownPreview"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"
        integrity="sha384-KpuxVjTC2hfOkg5KV3jSdx1eA6xy0PGS0wNfDrwf4sZBnZdzlIsnkH+LzLkavmH7"
        crossorigin="anonymous"></script>
<script>
  const converter = new showdown.Converter({ parseImgDimensions: true });

  const markdownInput = document.getElementById('markdownInput');
  const previewButton = document.getElementById('previewButton');
  const editButton = document.getElementById('editButton');
  const previewContainer = document.getElementById('previewContainer');
  const markdownPreview = document.getElementById('markdownPreview');
  const boldButton = document.getElementById('boldButton');
  const italicButton = document.getElementById('italicButton');
  const imageButton = document.getElementById('imageButton');
  const linkButton = document.getElementById('linkButton');
  
  const createIssueForm = document.getElementById('createIssueForm');

  const embedded_image_markdown = (markdownText) => {
    const image = /\$\[img[1-5]\]/g;
    const screenshotDiv = document.querySelectorAll("#files_manage img");
    let screenshots = [];
    screenshotDiv.forEach((element) => {
      screenshots.push(element.attributes.src.value);
    });
    if (image.test(markdownText)) {
      const matches = markdownText.match(image);
      matches.forEach(element => {
        const index = element.replace(/\D/g, '');
        const image = screenshots[index - 1];
        if (image !== undefined) {
          markdownText = markdownText.replace(element, `![img${index}](${image} =100x80)`);
        }
      });
    }
    return markdownText;
  };

  previewButton.addEventListener('click', () => {
    let markdownText = markdownInput.value;
    markdownText = embedded_image_markdown(markdownText);
    const markdownHTML = converter.makeHtml(markdownText);
    markdownPreview.innerHTML = markdownHTML;
    previewContainer.classList.remove('hidden');
    markdownInput.classList.add('hidden');
    previewButton.classList.add('hidden');
    editButton.classList.remove('hidden');
  });

  editButton.addEventListener('click', () => {
    markdownInput.classList.remove('hidden');
    previewContainer.classList.add('hidden');
    previewButton.classList.remove('hidden');
    editButton.classList.add('hidden');
  });

  boldButton.addEventListener('click', () => {
    insertMarkdownSyntax('**', '**');
  });

  italicButton.addEventListener('click', () => {
    insertMarkdownSyntax('_', '_');
  });

  imageButton.addEventListener('click', () => {
    const imageURL = prompt('Enter the URL of the image:');
    if (imageURL) {
      insertMarkdownSyntax('![alt text]', `(${imageURL})`);
    }
  });

  linkButton.addEventListener('click', () => {
    const linkURL = prompt('Enter the URL:');
    if (linkURL) {
      insertMarkdownSyntax('[link text]', `(${linkURL})`);
    }
  });

  function insertMarkdownSyntax(startTag, endTag) {
    const startPos = markdownInput.selectionStart;
    const endPos = markdownInput.selectionEnd;
    const selectedText = markdownInput.value.substring(startPos, endPos);
    const modifiedText = `${startTag}${selectedText}${endTag}`;
    markdownInput.value = markdownInput.value.substring(0, startPos) + modifiedText + markdownInput.value.substring(endPos);
  }
</script>
