<aside id="sidebar"
       class="tracking-tight fixed top-0 left-0 z-40 w-[210px] h-screen pt-[70px] transition-transform -translate-x-full bg-white lg:translate-x-0 no-scrollbar"
       aria-label="Sidebar">
    <style>
        .sidenav {
  margin-top: 15px;
}
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}
		/* Hide scrollbar for IE, Edge, and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
		a:link {
			color: black;
			background-color: transparent;
			text-decoration: none;
        }
		a:hover {
			text-decoration: none;
			color: red;
		}
		a:visited {
            color: black;
        }
	
    </style>
    <div class="h-full px-11 overflow-y-auto bg-white flex flex-col justify-between no-scrollbar sidenav">
        <div class="overflow-auto no-scrollbar">
            <ul class="font-medium text-2xl mt-6 mb-0">
                <!-- Issues -->
                <li class="{% if request.path == '' %}bg-gray-200{% endif %}">
                    <a href="{% url 'index' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-exclamation-circle"></i>
                        </div>
                        <span>Issues</span>
                    </a>
                </li>
                <!-- Companies -->
                <li class="{% if request.path == '/companies/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'domain_lists' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-institution"></i>
                        </div>
                        <span>Companies</span>
                    </a>
                </li>
                <!-- Scoreboard -->
                <li class="{% if request.path == '/scoreboard/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'scoreboard' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-ranking-star"></i>
                        </div>
                        <span>Scoreboard</span>
                    </a>
                </li>
                <!-- Users -->
                <li class="{% if request.path == '/leaderboard/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'leaderboard_global' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <span>Users</span>
                    </a>
                </li>
                <!-- Teams -->
                <li class="{% if request.path == '/teams/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'teams' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-users"></i>
                        </div>
                        <span>Teams</span>
                    </a>
                </li>
                <!-- Bug Bounties -->
                <li class="{% if request.path == '/hunts/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'hunts' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-bug"></i>
                        </div>
                        <span>Bug Bounties</span>
                    </a>
                </li>
                <!-- Projects -->
                <li class="{% if request.path == '/projects/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'projects' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <span>Projects</span>
                    </a>
                </li>
                <!-- Apps -->
                <li class="{% if request.path == '/apps/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'apps' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-file-code-o"></i>
                        </div>
                        <span>Apps</span>
                    </a>
                </li>
                <!-- Deletions -->
                <li class="{% if request.path == '/deletions/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'deletions' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-trash"></i>
                        </div>
                        <span>Deletions</span>
                    </a>
                </li>
                <!-- Trademarks -->
                <li class="{% if request.path == '/trademarks/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'trademark_search' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-trademark"></i>
                        </div>
                        <span>Trademarks</span>
                    </a>
                </li>
                <!-- BACON -->
                <li class="{% if request.path == '/bacon/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'bacon' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa-solid fa-bacon"></i>
                        </div>
                        <span>BACON</span>
                    </a>
                </li>
                <!-- BLTV -->
                <li class="{% if request.path == '/bltv/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'bltv' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-tv"></i>
                        </div>
                        <span>BLTV</span>
                    </a>
                </li>
                <!-- Contributors -->
                <li class="{% if request.path == '/contributors/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'contributors' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <span>Contributors</span>
                    </a>
                </li>
                <!-- Weekly Activity -->
                <li class="{% if request.path == '/contributor-stats/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'contributor-stats' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <span>Weekly Activity</span>
                    </a>
                </li>
                <!-- Daily Activity -->
                <li class="{% if request.path == '/contributor-stats/today/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'today-contributor-stats' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-calendar-day"></i>
                        </div>
                        <span>Daily Activity</span>
                    </a>
                </li>
                <!-- About Us -->
                <li class="{% if request.path == '/about/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'about' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-info"></i>
                        </div>
                        <span>About Us</span>
                    </a>
                </li>
                <!-- Terms -->
                <li class="{% if request.path == '/terms/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'terms' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa-solid fa-file-contract"></i>
                        </div>
                        <span>Terms</span>
                    </a>
                </li>
                <!-- External Links Example -->
                <li>
                    <a href="https://github.com/OWASP/BLT#readme"
                       rel="noopener noreferrer"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-code-fork"></i>
                        </div>
                        <span>Dev Guides</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/OWASP/BLT/releases"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-star"></i>
                        </div>
                        <span>Releases</span>
                    </a>
                </li>
                <li>
                    <a href="https://blt.owasp.org/swagger/"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fas fa-cogs"></i>
                        </div>
                        <span>Developer API</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/OWASP/BLT/blob/main/Setup.md"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-file"></i>
                        </div>
                        <span>Documentation</span>
                    </a>
                </li>
                <!-- Stats -->
                <li class="{% if request.path == '/stats/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'stats' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fa fa-bar-chart"></i>
                        </div>
                        <span>Stats</span>
                    </a>
                </li>
                <!-- Place a Bid -->
                <li class="{% if request.path == '/bidding/' %}bg-gray-200{% endif %}">
                    <a href="{% url 'BiddingData' %}"
                       class="flex items-center w-full text-black no-underline p-2">
                        <div class="w-8 mr-4">
                            <i class="fas fa-hand-holding-usd"></i>
                        </div>
                        <span>Place a Bid</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="overflow-hidden ">
            BLT is 100% free to use, Open Source and a non-commercial, not for profit initiative.
            <ul class="space-y-2 flex-end mb-[5px] mt-[5px]">
                <li class="opacity-90 transition hover:opacity-100">
                    <a href="{% url 'googleplayapp' %}"
                       class="bg-gray-100 inline-flex py-3 px-5 rounded-2xl items-center transition hover:bg-gray-200 focus:outline-none cursor-pointer hover:text-black">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor"
                             class="w-9 h-9"
                             viewBox="0 0 512 512">
                            <path d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z">
                            </path>
                        </svg>
                        <span class="ml-4 flex items-start flex-col leading-none">
                            <span class="title-font tracking-tight font-semibold mb-[3px]">Google Play</span>
                        </span>
                    </a>
                </li>
                <li class="opacity-90 transition hover:opacity-100">
                    <a href="https://apps.apple.com/us/app/owasp-blt/id6448071954"
                       class="bg-gray-100 inline-flex py-3 px-5 rounded-2xl items-center transition hover:bg-gray-200 focus:outline-none cursor-pointer hover:text-black"
                       rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor"
                             class="w-9 h-9"
                             viewBox="0 0 305 305">
                            <path d="M40.74 112.12c-25.79 44.74-9.4 112.65 19.12 153.82C74.09 286.52 88.5 305 108.24 305c.37 0 .74 0 1.13-.02 9.27-.37 15.97-3.23 22.45-5.99 7.27-3.1 14.8-6.3 26.6-6.3 11.22 0 18.39 3.1 25.31 6.1 6.83 2.95 13.87 6 24.26 5.81 22.23-.41 35.88-20.35 47.92-37.94a168.18 168.18 0 0021-43l.09-.28a2.5 2.5 0 00-1.33-3.06l-.18-.08c-3.92-1.6-38.26-16.84-38.62-58.36-.34-33.74 25.76-51.6 31-54.84l.24-.15a2.5 2.5 0 00.7-3.51c-18-26.37-45.62-30.34-56.73-30.82a50.04 50.04 0 00-4.95-.24c-13.06 0-25.56 4.93-35.61 8.9-6.94 2.73-12.93 5.09-17.06 5.09-4.64 0-10.67-2.4-17.65-5.16-9.33-3.7-19.9-7.9-31.1-7.9l-.79.01c-26.03.38-50.62 15.27-64.18 38.86z">
                            </path>
                            <path d="M212.1 0c-15.76.64-34.67 10.35-45.97 23.58-9.6 11.13-19 29.68-16.52 48.38a2.5 2.5 0 002.29 2.17c1.06.08 2.15.12 3.23.12 15.41 0 32.04-8.52 43.4-22.25 11.94-14.5 17.99-33.1 16.16-49.77A2.52 2.52 0 00212.1 0z">
                            </path>
                        </svg>
                        <span class="ml-4 flex items-start flex-col leading-none">
                            <span class="title-font tracking-tight font-semibold mb-[3px]">App Store</span>
                        </span>
                    </a>
                </li>
                <ul class="flex pb-5">
                    <li class="flex items-center p-2">
                        <a href="https://www.facebook.com/groups/owaspfoundation/"
                           class="text-blue-500"
                           target="_blank">
                            <div class="w-8 mr-4">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                        </a>
                    </li>
                    <li class="flex items-center p-2">
                        <a href="https://github.com/OWASP/BLT"
                           class="text-blue-500"
                           target="_blank">
                            <div class="w-8 mr-4">
                                <i class="fab fa-github"></i>
                            </div>
                        </a>
                    </li>
                    <li class="flex items-center p-2">
                        <a href="https://twitter.com/owasp"
                           class="text-blue-500"
                           target="_blank">
                            <div class="w-8 mr-4">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="0.88em"
                                     height="1em"
                                     viewBox="0 0 448 512">
                                    <path fill="currentColor" d="M64 32C28.7 32 0 60.7 0 96v320c0 35.3 28.7 64 64 64h320c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64zm297.1 84L257.3 234.6L379.4 396h-95.6L209 298.1L123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5l78.2-89.5zm-37.8 251.6L153.4 142.9h-28.3l171.8 224.7h26.3z" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="flex items-center p-2">
                        <a href="https://owasp.org/www-project-bug-logging-tool/"
                           class="text-blue-500"
                           target="_blank">
                            <div class="w-8 mr-4">
                                <i class="fas fa-newspaper"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </ul>
            <br>
            <br>
        </div>
    </div>
    <script>
		document.addEventListener('DOMContentLoaded', function () {
			const hamburgerButton = document.getElementById('hamburger-button');
			const sidebar = document.getElementById('sidebar');
			hamburgerButton.addEventListener('click', function () {
				sidebar.classList.toggle('-translate-x-full');
			});
		});
	
    </script>
</aside>
