name: OWASP BLT Action

on:
  issue_comment:
    types: [created]
  pull_request_review_comment:
    types: [created]
  pull_request_target:
    types: [closed, opened, reopened]
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    permissions: 
      issues: write
      pull-requests: write
    steps:
      - name: OWASP BLT Action
        uses: OWASP-BLT/BLT-Action@main
        with:
            repo-token: ${{ secrets.GITHUB_TOKEN }}
            giphy-api-key: ${{ secrets.GIPHY_KEY }}
